<% cache entry, expires_in: 1.day do %>
  <% related = entry.related %>
  <% if related.present? %>
    <aside role="complementary">
      <h2 class="entry__related">Other Photos You Might Like</h2>
      <ol class="entry-list entry-list--related">
        <%= render partial: 'entries/grid/amp',
                    collection: related,
                    as: :entry,
                    cached: true %>
      </ol>
    </aside>
  <% end %>
<% end %>
