<% photo = entry.photos.first %>
<div class="card is-marginless">
  <div class="card-image">
    <a style="<%= "#{gradient_colors(photo)}" %>" target="_blank" class="image image-container" href="<%= entry.permalink_url %>">
      <%= lazy_responsive_image_tag photo,
            'map',
            { class: 'is-overlay', alt: photo.alt_text, 'data-controller': 'lazy-load' } %>
    </a>
  </div>
  <div class="card-content">
    <h1 class="title is-size-7"><%= sanitize(entry.plain_title) %></h1>
  </div>
</div>
