<% photo = entry.photos.first %>
<div class="card is-marginless">
  <div class="card-image">
    <a style="<%= image_placeholder(photo) %>" target="_blank" class="image is-1by1" href="<%= entry.permalink_url %>">
      <%= lazy_responsive_image_tag photo,
            'map',
            { class: 'is-overlay', alt: photo.alt_text, 'data-controller': 'lazy-load' } %>
    </a>
  </div>
</div>
