<% content_for :meta do %>
  <title>Sign in · <%= @photoblog.name %></title>
  <meta name="turbolinks-visit-control" content="reload">
  <meta name="robots" content="noindex">
<% end %>

<div class="signin">
  <a href="/auth/google_oauth2" class="button button--danger">Sign in with Google</a>
</div>
