<% content_for :meta do %>
  <title>Sign in &middot; <%= @photoblog.name %></title>
<% end %>

<%= stylesheet_link_tag 'components/signin', media: 'all' %>
<div class="signin">
  <a href="/auth/google_oauth2" class="button button--danger">Sign in with Google</a>
</div>
