<% content_for :head do %>
  <meta name="turbolinks-visit-control" content="reload">
  <meta name="robots" content="noindex">
  <title><%= @page_title %></title>
<% end %>

<div class="signin">
  <%= link_to "Sign in with Google", "/auth/google_oauth2", method: :post, class: "button" %>
</div>
