<% content_for :inline_css do %>
  <style><%= Rails.application.assets['sessions.css'].to_s.html_safe %></style>
<% end %>

<div class="signin">
  <a href="/auth/google_oauth2" class="button button--danger">Sign in with Google</a>
</div>
