version: 2
updates:
  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      interval: "weekly"	   
      day: "saturday"
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"	   
      day: "saturday"
