<tr>
  <td><%= link_to_if park.url.present?, park.display_name, park.url %> <span class="tag"><%= park.code %></span></td>
  <td>
    <div class="buttons is-pulled-right">
      <%= link_to 'Edit', edit_admin_park_path(park), class: 'button is-small' %>
    </div>
  </td>
</tr>
