<% cache entry do %>
  <% if entry.affiliate_cameras.present? || entry.affiliate_lenses.present? %>
    <aside class="elsewhere elsewhere--affiliate" role="complementary">
      <h2 class="elsewhere__heading">Affiliate Links</h2>
      <ul class="elsewhere__list">
        <%= render partial: 'entries/entry/affiliate_link', collection: entry.affiliate_cameras, as: :product %>
        <%= render partial: 'entries/entry/affiliate_link', collection: entry.affiliate_lenses, as: :product %>
      </ul>
    </aside>
  <% end %>
<% end %>
