<% photo = entry.photos.first %>
<% if photo.location.present? || entry.territories.present? %>
  <h3 class="sr-only" id="location">Location</h3>
  <ul class="location" aria-labelledby="location">
    <% if photo.location.present? %>
      <li class="location__field"><%= [photo.locality, photo.administrative_area, photo.country].reject(&:blank?).uniq.join(', ') %></li>
    <% end %>
    <% if entry.territories.present? %>
      <li class="location__field"><%= entry.formatted_territories %></li>
    <% end %>
  </ul>
<% end %>
