<div class="entry__figure" style="<%= "#{css_gradient_stops(photo)};#{css_aspect_ratio(photo)}" %>">
  <%= responsive_image_tag(
    photo: photo,
    srcset: @srcset,
    sizes: @sizes,
    html_options: {
      class: 'entry__photo entry__photo--zoom',
      loading: 'lazy',
      'data-action': 'click->photo#zoom keydown->photo#zoom contextmenu->photo#disableContextMenu',
      'data-photo-target': 'photo'
    }) %>
</div>
