<div class="entry__figure" style="<%= css_gradient_stops(photo) %>">
  <%= responsive_image_tag photo,
      'entry',
      { class: 'entry__photo entry__photo--zoom',
        alt: photo.alt_text,
        sizes: @sizes,
        'data-action': 'click->photo#zoom keydown->photo#zoom contextmenu->photo#disableContextMenu',
        'data-target': 'photo.photo' } %>
</div>
