<article class="entry entry--text" role="main">
  <div class="entry__body">
    <h2 class="entry__headline">
      <%= link_to sanitize(entry.plain_title), entry.permalink_url %>
    </h2>
    <%= sanitize entry.formatted_body unless entry.body.blank? %>
  </div>

  <aside class="entry__meta" aria-labelledby="entry-meta">
    <h2 id="entry-meta" class="sr-only">About this entry</h2>
    <%= render partial: 'entries/entry/byline', object: entry, as: :entry %>
    <%= render partial: 'entries/entry/tags', object: entry.combined_tags, as: :tags %>
  </aside>
</article>

