<% content_for :head do %>
  <%= render partial: 'head' %>
<% end %>

<article class="entry">
  <div class="entry__body">
    <h2 class="entry__headline">About <%= @photoblog.name %></h2>
    <%= @photoblog.formatted_about %>
  </div>
</article>
<%= render partial: 'partials/elsewhere' %>
