<% content_for :meta do %>
  <title>Offline · <%= @photoblog.name %></title>
<% end %>

<% content_for :typekit do %>
  <%= render partial: 'partials/typekit', locals: { typekit_id: ENV['typekit_body_id'] } if ENV['typekit_body_id'].present? %>
<% end %>

<article class="entry entry--text">
  <div class="entry__body">
    <h1 class="entry__headline">It looks like you’re offline.</h1>
    <p>Please check your internet connection, or come back later.</p>
  </div>
</article>
