<% if @cameras.blank? && @lenses.blank? && @films.blank? %>
  <article class="message is-info">
      <div class="message-body">
        You don’t have any equipment.
      </div>
    </article>
<% else %>
  <%= render partial: 'cameras', object: @cameras %>
  <%= render partial: 'lenses', object: @lenses %>
  <%= render partial: 'films', object: @films %>
<% end %>
