<% cache "entry/pagination/#{@entry.cache_key}/latest:#{@entry.updated_at > 1.day.ago}" do %>
  <nav class="pagination" role="navigation">
    <span class="pagination__link pagination__link--next">
      <% if @entry.older.nil? %>
        <span class="pagination__prev"><%= t('views.pagination.previous').html_safe %></span>
      <% else %>
        <%= link_to t('views.pagination.previous').html_safe, @entry.older.permalink_url, class: 'pagination__prev' %>
      <% end %>
    </span>
    <span class="pagination__link">
      <% if @entry.newer.nil? %>
        <span class="pagination__next"><%= t('views.pagination.next').html_safe %></span>
      <% else %>
        <%= link_to t('views.pagination.next').html_safe, @entry.newer.permalink_url, class: 'pagination__next' %>
      <% end %>
    </span>
  </nav>
<% end %>
