<% cache "entry/list/text/#{entry.id}/#{entry.updated_at.to_i}" do %>
  <li class="entry-list__item" role="article">
    <a class="entry-list__link entry-list__link--text" href="<%= entry.permalink_url %>">
      <h2><%= entry.plain_title %></h2>
      <%= simple_format(truncate(entry.plain_body, length: 1200, omission: '…')) %>
    </a>
  </li>
<% end %>
