<% cache "entry_pagination/#{@photoblog.id}/#{@photoblog.updated_at.to_i}/#{entry_pagination.id}/#{entry_pagination.updated_at.to_i}" do %>
  <nav class="pagination">
    <% unless entry_pagination == Entry.published.first %>
      <span class="pagination__link">
        <%= link_to t('views.pagination.newest').html_safe, permalink_url(Entry.published.first) %>
      </span>
    <% end %>
    <% unless entry_pagination.newer.nil? %>
      <span class="pagination__link">
        <%= link_to t('views.pagination.newer').html_safe, permalink_url(entry_pagination.newer), :rel => 'prev' %>
      </span>
    <% end %>
    <% unless entry_pagination.older.nil? %>
      <span class="pagination__link">
        <%= link_to t('views.pagination.older').html_safe, permalink_url(entry_pagination.older), :rel => 'next' %>
      </span>
    <% end %>

    <% unless entry_pagination == Entry.published.last %>
      <span class="pagination__link">
        <%= link_to t('views.pagination.oldest').html_safe, permalink_url(Entry.published.last) %>
      </span>
    <% end %>
  </nav>
<% end %>
