<% cache "entry/related/#{@entry.id}/#{@entry.updated_at.to_i}", expires_in: 1.week do %>
  <% if @entry.related.present? && @entry.related.size >= 12 %>
    <aside role="complementary">
      <h2 class="entry__related">Related Photos You Might Like</h2>
      <ol class="entry-list entry-list--related">
        <%= render partial: 'entries/entry_list_item', collection: @entry.related, as: :entry, locals: { lazy_load: true } %>
      </ol>
    </aside>
  <% end %>
<% end %>
