<% cache "entry/related/html/#{entry.id}/#{entry.updated_at.to_i}", expires_in: 2.weeks do %>
  <% related = entry.related %>
  <% if related.present? %>
    <aside role="complementary">
      <h2 class="entry__related">Other Photos You Might Like</h2>
      <ol class="entry-list entry-list--related">
        <%= render partial: 'entries/entry_list_item',
                    collection: related,
                    as: :entry,
                    locals: {
                      lazy_load: true,
                      image_variant: 'entry_list_square'
                    } %>
      </ol>
    </aside>
  <% end %>
<% end %>
