<% cache @entry, expires_in: 1.day do %>
  <% related = @entry.related %>
  <% if related.present? %>
    <aside aria-labelledby="related-entries">
      <h2 class="entry__related" id="related-entries">Other Photos You Might Like</h2>
      <ol class="entry-list entry-list--related">
        <%= render partial: 'entries/grid/square',
                    collection: related,
                    as: :entry,
                    cached: true %>
      </ol>
    </aside>
  <% end %>
<% end %>
