<% cache [@photoblog, @entry] do %>
  <% related = @entry.related %>
  <% if related.present? %>
    <aside class="entry__related-entries" aria-labelledby="related-entries">
      <h2 class="entry__related" id="related-entries">Other Photos You Might Like</h2>
      <ol class="entry-list entry-list--related" aria-labelledby="related-entries">
        <% photo_variant = 'entry_list_square' %>
        <% sizes = Photo.sizes(photo_variant) %>
        <%= render partial: 'entries/list/entry', collection: related, as: :entry, locals: { photo_variant: photo_variant, sizes: sizes, square: true } %>
      </ol>
    </aside>
  <% end %>
<% end %>
