<% cache @entry, expires_in: 1.day do %>
  <% count = 12 %>
  <% related = @entry.related(count: count) %>
  <% if related.present? %>
    <aside aria-labelledby="related-entries">
      <h2 class="entry__related" id="related-entries">Other Photos You Might Like</h2>
      <ol class="entry-list entry-list--related" role="feed" aria-labelledby="related-entries">
        <%= render partial: 'entries/grid/entry',
                    collection: related,
                    as: :entry,
                    locals: { square: true, total_entries: related.size, page: 1, per_page: count } %>
      </ol>
    </aside>
  <% end %>
<% end %>
