<% if @query.present? %>
  <% content_for :head do %>
    <meta name="robots" content="noindex">
    <title><%= sanitize @page_title %></title>
  <% end %>
  <%= render partial: 'entries/search/search_results' %>
<% else %>
  <%= render partial: 'entries/search/search' %>
<% end %>
