<%= form_for([:admin, @webhook]) do |f| %>
  <% if @webhook.errors.any? %>
    <article class="message is-danger">
      <div class="message-header">
        <p>Welp, the changes couldn't be saved.</p>
        <button class="delete"></button>
      </div>
      <div class="message-body">
        <% @webhook.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
    </article>
  <% end %>

  <h1 class="title is-size-5-mobile">Edit webhook</h1>
  <hr class="hr">

  <%= render partial: 'fields', locals: { f: f } %>
<% end %>
