.content {
  margin: 48px auto;
  max-width: 840px;

  p,
  ul,
  ol {
    font-size: 16px;
    line-height: 1.5;
    margin: 1.5rem 0;
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin: 1.2rem 0;
  }
}

.content__message {
  color: $color-gray-medium;
  font-size: 16px;
  margin: 96px 0;
  text-align: center;
}
