.entry {
  background-color: rgba(255, 255, 255, 0.75);
  margin: 24px 0;

  @supports (backdrop-filter: none) {
    backdrop-filter: blur(10px);
  }
}

.entry__thumb {
  backdrop-filter: blur(20px);
  display: block;
  font-size: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.entry__thumbs {
  display: flex;
  flex-flow: row wrap;
  padding: 12px 0;
}

.entry__thumb--small {
  display: block;
  flex-basis: calc(50% - 5px);
  font-size: 0;
  margin-right: 5px;
}

.entry__link {
  background-color: $color-photo-background;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 0;
  display: block;
  font-size: 0;
  overflow: hidden;
  position: relative;
}

.entry__content {
  padding: 12px 20px;

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    margin: 1.5rem 0;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media (min-width: $bp-admin-m) {
    border: 1px solid $color-border;
    border-bottom: 0;
  }
}

.entry__content .entry__help {
  color: $color-gray-medium;
  font-size: 12px;
  line-height: 2;
}


.entry__content--text {
  border-top: 1px solid $color-border;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    margin: 1rem 0;
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }
}

.entry__content--misc {
  border: 1px solid $color-border;
}

.entry__meta {
  color: $color-gray-medium;
  font-size: 12px;
  line-height: 2;
  padding: 12px 20px;

  a {
    margin: 0 5px;
  }

  a:link,
  a:visited {
    color: $color-gray-medium;
  }

  a:hover,
  a:active {
    color: $color-links;
  }

  a:first-child {
    margin-left: 0;
  }

  a:last-child {
    margin-right: 0;
  }

  @media (min-width: $bp-admin-m) {
    border: 1px solid $color-border;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top: 0;
  }
}

.entry__meta-bottom {
  @media (min-width: $bp-admin-m) {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
  }
}

.entry__timestamp {
  flex-grow: 1;
}

.entry__actions {
  align-items: center;
  display: flex;
  flex-flow: row;
}

.entry__actions--right {
  justify-content: flex-end;
  width: 100%;
}

.entry__actions--left {
  justify-content: flex-start;
  width: 100%;
}

.entry__actions--queue {
  flex-grow: 1;
}

.entry__tag {
  margin-right: 5px;
  text-transform: lowercase;

  &:before {
    color: tint($color-gray-medium, 50%);
    content: '#';
  }
}

.entry__content-buttons {
  display: flex;
  flex-flow: column;
  padding-top: 12px;

  @media (min-width: $bp-admin-m) {
    flex-flow: row;
  }
}
