.image-container {
  background: linear-gradient(to bottom right, var(--gradient-start, $color-gray-very-light), var(--gradient-end, $color-gray-light));
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: calc(var(--aspect-ratio, 1) * 100%);
}
