.nav {
  align-content: center;
  background-color: #FFF;
  border-bottom: 1px solid $color-border;
  display: flex;
  flex-flow: column nowrap;
  font-size: 12px;
  line-height: 2;
  padding: 4px 10px 0;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;

  @media (min-width: $bp-admin-m) {
    flex-flow: row nowrap;
    left: 0;
    position: fixed;
    top: 0;

    @supports (backdrop-filter: none) {
      background-color: rgba(255, 255, 255, 0.75);
      backdrop-filter: blur(10px);
      border: 0;
    }
  }
}

.nav__group {
  align-content: center;
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;

  @media (min-width: $bp-admin-m) {
    flex-flow: row nowrap;
  }
}

.nav__link {
  display: block;
  padding: 0 10px;

  &:link,
  &:visited {
    color: $color-gray-dark;
  }

  &:hover,
  &:active {
    color: $color-links;
    text-decoration: none;
  }
}

.nav__link--is-active {
  border-bottom: 2px solid;
  font-weight: 600;

  &:link,
  &:visited {
    color: $color-text;
  }

  &:hover,
  &:active {
    color: $color-links;
  }
}
