.notifications {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  flex-flow: column;
  padding: 1rem;
  position: fixed;
  right: 0;
  z-index: 41;

  .notification {
    background-color: transparentize($notification-background-color, 0.1);
  }

  .notification.is-primary {
    background-color: transparentize($primary, 0.1);
  }

  .notification.is-link {
    background-color: transparentize($link, 0.1);
  }

  .notification.is-info {
    background-color: transparentize($info, 0.1);
  }

  .notification.is-success {
    background-color: transparentize($success, 0.1);
  }

  .notification.is-warning {
    background-color: transparentize($warning, 0.1);
  }

  .notification.is-danger {
    background-color: transparentize($danger, 0.1);
  }

  @supports (backdrop-filter: none) {
    .notification {
      backdrop-filter: blur($backdrop-blur);
      background-color: transparentize($notification-background-color, 0.25);
    }

    .notification.is-primary {
      background-color: transparentize($primary, 0.25);
    }

    .notification.is-link {
      background-color: transparentize($link, 0.25);
    }

    .notification.is-info {
      background-color: transparentize($info, 0.25);
    }

    .notification.is-success {
      background-color: transparentize($success, 0.25);
    }

    .notification.is-warning {
      background-color: transparentize($warning, 0.25);
    }

    .notification.is-danger {
      background-color: transparentize($danger, 0.25);
    }
  }
}
