@use 'sass:color';
@use 'bulma/sass/utilities/derived-variables' as bulma;
@use '../base/variables' as vars;

.notifications {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  flex-flow: column;
  padding: 1rem;
  position: fixed;
  right: 0;
  z-index: 41;

  .notification {
    background-color: color.adjust(bulma.$scheme-main, $alpha: -0.1);
    transition: opacity ease-in 250ms;
  }

  .notification.is-primary {
    background-color: color.adjust(bulma.$primary, $alpha: -0.1);
  }

  .notification.is-link {
    background-color: color.adjust(bulma.$link, $alpha: -0.1);
  }

  .notification.is-info {
    background-color: color.adjust(bulma.$info, $alpha: -0.1);
  }

  .notification.is-success {
    background-color: color.adjust(bulma.$success, $alpha: -0.1);
  }

  .notification.is-warning {
    background-color: color.adjust(bulma.$warning, $alpha: -0.1);
  }

  .notification.is-danger {
    background-color: color.adjust(bulma.$danger, $alpha: -0.1);
  }

  @supports (backdrop-filter: none) {
    .notification {
      backdrop-filter: blur(vars.$backdrop-blur);
      background-color: color.adjust(bulma.$scheme-main, $alpha: -0.35);
    }

    .notification.is-primary {
      background-color: color.adjust(bulma.$primary, $alpha: -0.35);
    }

    .notification.is-link {
      background-color: color.adjust(bulma.$link, $alpha: -0.35);
    }

    .notification.is-info {
      background-color: color.adjust(bulma.$info, $alpha: -0.35);
    }

    .notification.is-success {
      background-color: color.adjust(bulma.$success, $alpha: -0.35);
    }

    .notification.is-warning {
      background-color: color.adjust(bulma.$warning, $alpha: -0.35);
    }

    .notification.is-danger {
      background-color: color.adjust(bulma.$danger, $alpha: -0.35);
    }
  }
}
