.pagination {
  color: $color-text-alt;
  display: flex;
  font-size: 16px;
  justify-content: center;
  line-height: 1.5;
}

.pagination__link {
  margin: 0 5px;

  a:link,
  a:visited {
    color: $color-text;
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: $color-links;
    text-decoration: none;
  }
}
