.photo {
  display: flex;
  flex-flow: row nowrap;
  margin: 24px 0;
}

.photo__form {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  padding-left: 20px;

  .photo__input {
    flex-grow: 0;
    height: 100px;
  }

  .button {
    margin: 0;
  }
}
