.photo-form {
  align-items: stretch;
  flex-flow: column nowrap;

  @media (min-width: $tablet) {
    flex-flow: row nowrap;
  }
}

.photo-form__photo-container {
  position: relative;

  @media (max-width: $tablet) {
    margin-right: 0;
  }
}

.photo-form__form-container {
  @media (max-width: $tablet) {
    margin-top: 1rem;
  }
}

.photo-form__thumbnail {
  display: block;
  width: 300px;

  @media (max-width: $tablet) {
    margin: 0 auto;
  }
}

.photo-form__focal-marker {
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.photo-form__controls {
  align-items: center;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;

  @media (max-width: $tablet) {
    margin-left: 0;
    margin-top: 1rem;
  }

  @media (min-width: $tablet) {
    flex-flow: column nowrap;
  }
}
