.photo-form {
  align-items: stretch;
  flex-flow: column nowrap;

  @media (min-width: $tablet) {
    flex-flow: row nowrap;
  }
}

.photo-form__focal-marker {
  border-radius: 100%;
  border: 4px solid $red;
  display: block;
  height: 100px;
  pointer-events: none;
  position: absolute;
  width: 100px;
  z-index: 1;
}

.photo-form__image-container {
  @media (hover: hover) {
    .photo-form__focal-marker {
      display: none;
    }

    &:hover {
      .photo-form__focal-marker {
        display: block;
      }
    }
  }
}

.photo-form__controls {
  align-items: center;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;

  @media (max-width: $tablet) {
    margin-left: 0;
    margin-top: 1rem;
  }

  @media (min-width: $tablet) {
    flex-flow: column nowrap;
  }
}
