@use 'sass:color';
@use 'bulma/sass/utilities/initial-variables' as iv;
@use '../base/variables' as vars;

.queue__item {
  float: left;
  margin: 0 iv.$size-7 iv.$size-4;
  width: calc(100%/2 - iv.$size-4);

  @media (min-width: iv.$tablet) {
    width: calc(100%/4 - iv.$size-4);
  }

  @media (min-width: iv.$desktop) {
    width: calc(100%/5 - iv.$size-4);
  }
}

.queue__item-meta {
  bottom: 0;
  height: 100%;
  position: absolute;
  width: 100%;

  span {
    background-color: color.adjust(iv.$black, $alpha: -0.1);
    bottom: 0;
    padding: iv.$size-7;
    position: absolute;

    @supports (backdrop-filter: none) {
      backdrop-filter: blur(vars.$backdrop-blur);
      background-color: color.adjust(iv.$black, $alpha: -0.35);
      width: 100%;
    }
  }
}

.queue__item-timestamp {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
