.queue__item {
  float: left;
  margin: 0 #{$size-7} #{$size-4};
  width: calc(100%/2 - #{$size-4});

  @media (min-width: $tablet) {
    width: calc(100%/4 - #{$size-4});
  }

  @media (min-width: $desktop) {
    width: calc(100%/5 - #{$size-4});
  }
}

.queue__item-meta {
  background-color: transparentize($black, 0.1);
  bottom: 0;
  padding: $size-7;
  position: absolute;
  width: 100%;

  @supports (backdrop-filter: none) {
    backdrop-filter: blur($backdrop-blur);
    background-color: transparentize($black, 0.25);
  }
}

.queue__item-timestamp {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
