.table {
  font-size: 12px;
  line-height: 2;
  margin: 2rem 0;
  width: 100%;

  thead {
    border-bottom: 2px solid $color-border;
  }

  th {
    font-weight: bold;
    text-align: left;
  }

  th,
  td {
    padding: 10px 0;
  }

  tr {
    border-bottom: 1px solid $color-border;
  }

  @media (min-width: $bp-admin-m) {
    font-size: 16px;
    line-height: 1.5;
    margin: 1.5rem 0;
  }
}

.table__actions {
  text-align: right;
}
