<% cache entry do %>
  <% photo = entry.photos.first %>
  <li class="entry-list__item" role="article">
    <div class="entry-list__wrapper" style="<%= "#{intrinsic_ratio_padding(photo)};#{image_placeholder(photo)}" %>">
      <a class="entry-list__link" href="<%= entry.permalink_url %>">
        <figure class="entry-list__photo">
          <%= lazy_responsive_image_tag photo,
                'entry_list',
                { class: 'entry-list__image', alt: photo.alt_text } %>
          <%= render partial: 'entries/grid/caption.html.erb', locals: { entry: entry, photo: photo } %>
        </figure>
      </a>
    </div>
  </li>
<% end %>
