<% cache entry do %>
  <% photo = entry.photos.first %>
  <li class="entry-list__item" role="article">
    <div class="entry-list__wrapper" style="<%= "#{css_aspect_ratio(photo)}#{css_gradient_stops(photo)}" %>">
      <%= render partial: 'entries/grid/figure.html.erb', locals: { entry: entry, photo: photo, variant: 'entry_list' } %>
    </div>
  </li>
<% end %>
