<% cache entry do %>
  <% photo = entry.photos.first %>
  <li class="entry-list__item" role="article">
    <div class="entry-list__wrapper entry-list__wrapper--square" style="<%= "#{image_placeholder(photo)}" %>">
      <%= render partial: 'entries/grid/figure.html.erb', locals: { entry: entry, photo: photo, variant: 'entry_list_square' } %>
    </div>
  </li>
<% end %>
