<% cache "entry/related/amp/#{entry.id}/#{@photoblog.id}/#{@photoblog.updated_at.to_i}" do %>
  <aside role="complementary">
    <h2 class="entry__related">Other Photos You Might Like</h2>
    <ol class="entry-list entry-list--related">
      <%= render partial: 'entries/amp/entry_list_item',
                  collection: @related,
                  as: :entry %>
    </ol>
  </aside>
<% end %>
