<% cache "entry/related/amp/#{@entry.cache_key}", expires_in: 2.weeks do %>
  <% related = @entry.related %>
  <% if related.present? %>
    <aside role="complementary">
      <h2 class="entry__related">Other Photos You Might Like</h2>
      <ol class="entry-list entry-list--related">
        <%= render partial: 'entries/amp/entry_list_item',
                    collection: related,
                    as: :entry %>
      </ol>
    </aside>
  <% end %>
<% end %>
