<li>
  <% opts = { class: 'follow__link', title: label, 'aria-labelledby': "follow-icon-#{icon}" } %>
  <% opts[:rel] = rel if local_assigns[:rel].present? %>
  <%= link_to url, opts do %>
    <%= inline_svg icon, class_name: 'follow__icon' %>
    <span class="sr-only" id="follow-icon-<%= icon %>"><%= label %></span>
  <% end %>
</li>
