<% cache "blog/footer/#{Time.now.strftime('%Y')}/#{@photoblog.id}/#{@photoblog.updated_at.to_i}" do %>
  <footer class="footer">
      <p>&copy; <%= @photoblog.entries.published('published_at ASC').limit(1).try(:first).try(:published_at).try(:strftime, '%Y') %>-<%= Time.now.strftime('%Y') %> <%= raw @photoblog.copyright %></p>
  </footer>
<% end %>
