<header role="banner" class="header <%= 'header--map' if local_assigns[:is_map] %>">
  <div class="header__section">
    <p class="header__tagline"><%= sanitize @photoblog.description %></p>
  </div>
  <a href="/" class="header__link">
    <%= @photoblog.header_logo_svg.try(:html_safe) %>
  </a>
  <div class="header__section">
    <%= render partial: 'partials/follow.html.erb' %>
  </div>
</header>
