<div class="loading" aria-labelledby="spinner-label" aria-hidden="true" <% if local_assigns[:target] %>data-target="<%= target %>"<% end %>>
  <%= inline_svg :spinner, class_name: 'loading__spinner' %>
  <span class="sr-only" id="spinner-label">Loading</span>
</div>
