<div class="push-notifications" data-controller="push-notifications" data-push-notifications-vapid-public-key-value="<%= ENV['VAPID_PUBLIC_KEY'] %>" data-push-notifications-endpoint-url-value="<%= push_subscribe_path %>">
  <label class="push-notifications__label" data-push-notifications-target="label">
    <input class="push-notifications__checkbox" type="checkbox" data-push-notifications-target="checkbox" data-action="click->push-notifications#toggleSubscription">
    Notify me when photos are published
  </label>
</div>
