<%= link_to url, class: 'share share--hidden', 'data-controller': 'share', 'data-action': 'click->share#open' do %>
  <%= inline_svg 'share', 'share__icon' %> <span class="share__label">Share</span>
<% end %>
