* {
  box-sizing: border-box;
}

html {
  color: $color-text;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 62.5%;
  font-weight: 400;
}

a:link,
a:visited {
  color: $color-links;
  text-decoration: none;
}

a:hover,
a:active {
  color: $color-links;
  text-decoration: underline;
}

img {
  max-width: 100%;
}

.slack-button {
  display: block;
  height: 40px;
  margin: 24px 0;
  width: 139px;
}
