.awesomplete {
  width: 100%;

  ul {
    z-index: 2;
  }
}

.draggable-handle {
  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }
}

.draggable-dragging {
  opacity: 0.5;
}

.draggable-mirror {
  cursor: grabbing;
  z-index: 100;
}

.draggable--is-dragging,
.draggable-container--is-dragging {
  cursor: grabbing;
}

.turbolinks-progress-bar {
  background-color: $info;
  height: 2px;
}

.is-transparent {
  opacity: 0;
}
