* {
  box-sizing: border-box;
}

html {
  background-color: $color-background;
  color: $color-text;
  font-family: 'kepler-std', 'Georgia', serif;
  font-size: 62.5%;
  font-weight: 300;
}

a:link,
a:visited {
  color: $color-links;
  text-decoration: none;
}

a:hover,
a:active {
  color: $color-links;
  text-decoration: underline;
}

img {
  max-width: 100%;
}

.twitter-tweet {
  // scss-lint:disable ImportantRule
  // Needed to override inline styles injected by Twitter in embedded tweets
  margin: 24px auto 0 !important;

  @media (min-width: $bp-m) {
    margin: 36px auto 0 !important;
  }
}
