* {
  box-sizing: border-box;
}

html {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: $font-sans;
  font-size: 62.5%;
  font-weight: 300;
}

a:link,
a:visited {
  color: var(--color-links);
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--color-links);
  text-decoration: underline;
}

img {
  max-width: 100%;
}
