@mixin button($background-color, $text-color: #FFF) {
  background-color: $background-color;
  border: 1px solid shade($background-color, 10%);
  box-shadow: inset 0 -3px 0 0 shade($background-color, 10%);
  color: $text-color;

  &:link,
  &:visited {
    color: $text-color;
    text-decoration: none;
  }

  &:hover {
    background-color: tint($background-color, 10%);
    color: $text-color;
    text-decoration: none;
  }

  &:active {
    background-color: $background-color;
    box-shadow: inset 0 -1px 0 0 shade($background-color, 10%);
    color: $text-color;
    text-decoration: none;
  }
}

@mixin stripes($background-color: #CCC, $color: #FFF, $angle: -45deg) {
  background-image: repeating-linear-gradient(
    -45deg,
    $background-color,
    $background-color 10px,
    shade($background-color, 2%) 10px,
    shade($background-color, 2%) 20px
  );
  border: 1px solid shade($background-color, 10%);
  color: $color;
}

@mixin aspect-ratio($width, $height, $child-selector: '*') {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: ($height / $width) * 100%;
    width: 100%;
  }

  > #{$child-selector} {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
