:root {
  --color-logo-fill        : black;
  --color-background       : white;
  --color-text             : $color-gray-dark;
  --color-text-alt         : $color-gray-medium;
  --color-links            : $color-red;
  --color-border           : $color-gray-very-light;
  --color-photo-hover      : transparentize(black, 0.25);
  --color-photo-text       : white;
  --color-tooltip          : black;
  --color-tooltip-text     : white;
  --color-pagination-text  : $color-gray-light;
  --color-icon-fill        : $color-gray-light;
  --color-input-background : white;

  --gutter-horizontal      : 24px;
  --gutter-vertical        : 20px;
  --font-size-heading      : 18px;
  --line-height-heading    : (24/18);
  --margin-content         : 24px auto;
  --border-thin            : 1px;
  --border-thick           : 4px;
  --border-radius          : 4px;

  --entry-list-gutters: 8px;
  --entry-list-columns: 2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-logo-fill        : white;
    --color-background       : black;
    --color-border           : $color-gray-very-dark;
    --color-text             : $color-gray-very-light;
    --color-text-alt         : $color-gray-light;
    --color-tooltip          : $color-gray-very-dark;
    --color-tooltip-text     : $color-gray-very-light;
    --color-input-background : $color-gray-very-dark;
  }
}

@media (min-width: $bp-xxxs) {
  :root {
    --entry-list-columns: 3;
  }
}

@media (min-width: $bp-s) {
  :root {
    --gutter-horizontal: 36px;
    --gutter-vertical: 90px;
    --font-size-heading: 24px;
    --line-height-heading: (36/24);
  }
}

@media (min-width: $bp-xl) {
  :root {
    --margin-content: 72px auto;
    --entry-list-columns: 4;
  }
}
