:root {
  --color-logo-fill        : black;
  --color-background       : white;
  --color-text             : #{$color-gray-dark};
  --color-text-alt         : #{$color-gray-medium};
  --color-links            : #{$color-red};
  --color-border           : #{$color-gray-very-light};
  --color-photo-hover      : #{transparentize(black, 0.25)};
  --color-photo-text       : white;
  --color-tooltip          : black;
  --color-tooltip-text     : white;
  --color-icon-fill        : #{$color-gray-light};
  --color-input-background : white;
  --color-share-background : #{$color-red};
  --color-share-text       : white;

  --gutter-horizontal      : 24px;
  --gutter-vertical        : 20px;

  --font-size-heading      : 20px;
  --font-weight-heading    : 400;
  --line-height-heading    : calc(24 / 20);
  --margin-heading         : calc(2.4rem / 2) 0;

  --font-size-subheading   : 18px;
  --font-weight-subheading : 400;
  --line-height-subheading : calc(24 / 18);
  --margin-subheading      : calc(2.4rem / 1.8) 0;

  --font-size-text         : 16px;
  --line-height-text       : calc(24 / 16);
  --margin-text            : calc(2.4rem / 1.6) 0;

  --font-size-text-alt     : 14px;
  --line-height-text-alt   : calc(24 / 14);
  --margin-text-alt        : calc(2.4rem / 1.4) 0;

  --margin-content         : 24px auto;
  --border-thin            : 1px;
  --border-thick           : 4px;
  --border-radius          : 4px;
  --transition-duration    : 150ms;

  --entry-list-gutters: 8px;
  --entry-list-columns: 2;

  --font-sans: 'Lato', sans-serif;

  @media (prefers-color-scheme: dark) {
    --color-logo-fill        : white;
    --color-background       : black;
    --color-border           : #{$color-gray-very-dark};
    --color-text             : #{$color-gray-very-light};
    --color-text-alt         : #{$color-gray-light};
    --color-tooltip          : #{$color-gray-very-dark};
    --color-tooltip-text     : #{$color-gray-very-light};
    --color-input-background : #{$color-gray-very-dark};
  }

  @media (min-width: $bp-xxxs) {
    --entry-list-columns: 3;
  }

  @media (min-width: $bp-s) {
    --gutter-horizontal      : 36px;
    --gutter-vertical        : 90px;

    --font-size-heading      : 28px;
    --line-height-heading    : calc(36 / 28);
    --margin-heading         : calc(36rem / 28) 0;

    --font-size-subheading   : 24px;
    --line-height-subheading : calc(36 / 24);
    --margin-subheading      : calc(36rem / 24) 0;

    --font-size-text         : 20px;
    --line-height-text       : calc(36 / 20);
    --margin-text            : calc(36rem / 20) 0;

    --line-height-text-alt   : calc(36 / 14);
    --margin-text-alt        : calc(36rem / 14) 0;
  }

  @media (min-width: $bp-l) {
    --margin-content: 72px auto;
  }

  @media (min-width: $bp-xl) {
    --entry-list-columns: 4;
  }

  @media print {
    --border-thin            : 0;
    --border-thick           : 0;
  }

  @media (prefers-reduced-motion) {
    --transition-duration    : 0;
  }

  @media (prefers-reduced-transparency) {
    --color-photo-hover      : black;
  }
}
