:root {
  --color-logo-fill        : #000;
  --color-background       : #FFF;
  --color-text             : $color-gray-dark;
  --color-text-alt         : $color-gray-medium;
  --color-links            : $color-red;
  --color-border           : $color-gray-very-light;
  --color-photo-hover      : rgba(0,0,0,0.75);
  --color-photo-text       : #FFF;
  --color-tooltip          : #000;
  --color-tooltip-text     : #FFF;
  --color-pagination-text  : $color-gray-light;
  --color-icon-fill        : $color-gray-light;
  --color-input-background : #FFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-logo-fill        : #FFF;
    --color-background       : #000;
    --color-border           : $color-gray-very-dark;
    --color-text             : $color-gray-very-light;
    --color-text-alt         : $color-gray-light;
    --color-tooltip          : $color-gray-very-dark;
    --color-tooltip-text     : $color-gray-very-light;
    --color-input-background : $color-gray-very-dark;
  }
}
