:root {
  --color-background: white;
  --color-border: $color-gray-very-light;
  --color-icon-fill: $color-gray-light;
  --color-input-background: white;
  --color-links: $color-red;
  --color-logo-fill: black;
  --color-photo-hover: transparentize(black, 0.25);
  --color-photo-text: white;
  --color-text: $color-gray-dark;
  --color-text-alt: $color-gray-medium;
  --color-tooltip: black;
  --color-tooltip-text: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: black;
    --color-border: $color-gray-very-dark;
    --color-input-background: $color-gray-very-dark;
    --color-logo-fill: white;
    --color-text: $color-gray-very-light;
    --color-text-alt: $color-gray-light;
    --color-tooltip: $color-gray-very-dark;
    --color-tooltip-text: $color-gray-very-light;
  }
}
