// Swatches
$color-red: #BF0222;
$color-gray-dark: #444;
$color-gray-medium: #CCC;
$color-gray-light: #EEE;

// Colors
$color-links: $color-red;
$color-text: $color-gray-dark;
$color-border: $color-gray-light;
