// Swatches
$color-red             : #BF0222;
$color-gray-dark       : #444;
$color-gray-medium     : #666;
$color-gray-light      : #AAA;
$color-gray-very-light : #EEE;

// Colors
$color-background      : #FFF;
$color-links           : $color-red;
$color-text            : $color-gray-dark;
$color-text-alt        : $color-gray-medium;
$color-border          : $color-gray-very-light;
$color-disabled        : $color-gray-very-light;
$color-photo-background: $color-gray-very-light;
$color-twitter         : #55ACEE;
$color-facebook        : #3B5998;

$color-alert-default : #F4F4F4;
$color-alert-info    : #51C1DB;
$color-alert-success : #51B867;
$color-alert-warning : #F3AC5D;
$color-alert-danger  : #DE5152;

// Breakpoints
$bp-xxs : 480px;
$bp-xxss: 400px;
$bp-xs  : 600px;
$bp-s   : 840px;
$bp-m   : 960px;
$bp-l   : 1024px;
$bp-xl  : 1280px;
$bp-xxl : 1440px;
$bp-max : 1600px;

// Font stacks
$font-sans: 'brandon-grotesque', 'Avenir Next', sans-serif;
$font-serif: 'chaparral-pro', 'Palatino', 'Georgia', serif;

// Admin breakpoints
$bp-admin-m: 800px;

// Other
$fadein-duration: 100ms;
