// Swatches
$color-red: #BF0222;
$color-gray-dark: #444;
$color-gray-medium: #AAA;
$color-gray-light: #EEE;

// Colors
$color-links: $color-red;
$color-text: $color-gray-dark;
$color-border: $color-gray-light;

$color-alert-default: #51C1DB;
$color-alert-success: #51B867;
$color-alert-warning: #F3AC5D;
$color-alert-danger: #DE5152;
