<% cache @photoblog do %>
  <h1 class="title is-size-5-mobile">Lenses</h1>
  <h2 class="subtitle is-size-6-mobile"><%= pluralize_with_delimiter 'lens', @lenses.size %></h2>
  <hr class="hr">
  <table class="table is-fullwidth is-hoverable is-striped">
    <thead>
      <tr>
      <th>Name</th>
      <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'lens', collection: @lenses, as: :lens %>
    </tbody>
  </table>
<% end %>
