<table class="table is-fullwidth is-hoverable is-striped">
  <thead>
    <tr>
    <th>Tag</th>
    <th>Entries</th>
    <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'tag', collection: @tags %>
  </tbody>
</table>

<%= paginate @tags, views_prefix: 'admin', outer_window: 1 %>
