<% entry.photos.each do |photo| %>
  <%= link_to image_tag(photo.url(w: 1280).html_safe, srcset: "#{photo.url(w: 1280)} 1x, #{photo.url(w: 2560)} 2x".html_safe, alt: photo.alt_text), entry.permalink_url %>
<% end %>
<%= sanitize entry.formatted_body unless entry.body.blank? %>
<hr>
<p>
  This
  <% if entry.is_photoset? %>
    set of photographs
  <% elsif entry.is_photo? %>
    photograph
  <% else %>
    entry
  <% end %>
   , titled “<%= link_to entry.plain_title, entry.permalink_url %>”, was originally published on <%= link_to @photoblog.name, root_url %>.
</p>
