<% photo = entry.photos.first %>
<% if photo.formatted_location.present? || entry.territories.present? %>
  <p>
    <% if photo.formatted_location.present? %>
      <%= photo.formatted_location %>
    <% end %>
    <% if photo.formatted_location.present? && entry.territories.present? %> – <% end %>
    <% if entry.territories.present? %>
      <%= entry.territory_list %>
    <% end %>
  </p>
<% end %>
