<% photo = entry.photos.first %>
<% if photo.location.present? || entry.territories.present? %>
  <p>
    <% if photo.location.present? %>
      <%= [photo.sublocality, photo.locality, photo.administrative_area, photo.country].reject(&:blank?).uniq.join(', ') %>
    <% end %>
    <% if photo.location.present? && entry.territories.present? %> – <% end %>
    <% if entry.territories.present? %>
      <%= entry.formatted_territories %>
    <% end %>
  </p>
<% end %>
