default: &default
  # Required.
  aws_access_key_id:
  aws_cloudfront_distribution_id:
  aws_secret_access_key:

  # Optional. Used for sharing on Twitter, Facebook, Instagram.
  buffer_access_token:

  # Required. Set it to a random string (you can use `bundle exec rails secret` to generate one).
  denali_secret:

  # Optional. Enables uploading photos from Dropbox.
  dropbox_key:

  # Optional. Used for sharing on Flickr.
  flickr_access_token_secret:
  flickr_access_token:
  flickr_consumer_key:
  flickr_consumer_secret:

  # Required.
  google_apps_domain:
  google_client_id:
  google_client_secret:

  # Optional. Used for auto-tagging entries with location info.
  google_api_key:

  # Required.
  imgix_domain:
  imgix_secure: 'true'
  imgix_token:
  imgix_api_key:

  # Optional. Enables the map page.
  mapbox_api_token:

  # Optional. Used for sharing on Pinterest.
  pinterest_board_id:
  pinterest_token:

  # Required.
  s3_bucket:
  s3_region:

  # Required. Set it to a random string (you can use `bundle exec rails secret` to generate one).
  secret_key_base:

  # Optional. Used for exception reporting to Sentry.
  sentry_dsn:

  # Optional. Enables notifications in Slack when new entries are published.
  slack_incoming_webhook:

  # Optional. Enables sharing to Tumblr.
  tumblr_access_token_secret:
  tumblr_access_token:
  tumblr_consumer_key:
  tumblr_consumer_secret:
  tumblr_domain:

  # Optional. Enables webfonts.
  typekit_id:

development:
  <<: *default

test:
  <<: *default

production:
  # Required.
  aws_access_key_id:
  aws_cloudfront_distribution_id:
  aws_secret_access_key:

  # Optional. Used for sharing on Twitter, Facebook, Instagram.
  buffer_access_token:

  # Required. Set it to a random string (you can use `rake secret` to generate one).
  denali_secret:

  # Optional. Enables uploading photos from Dropbox.
  dropbox_key:

  # Optional. Used for sharing on Flickr.
  flickr_access_token_secret:
  flickr_access_token:
  flickr_consumer_key:
  flickr_consumer_secret:

  # Required.
  google_apps_domain:
  google_client_id:
  google_client_secret:

  # Optional. Used for auto-tagging entries with location info.
  google_api_key:

  # Required.
  imgix_domain:
  imgix_secure: 'true'
  imgix_token:
  imgix_api_key:

  # Optional. Enables the map page.
  mapbox_api_token:

  # Optional. Used for sharing on Pinterest.
  pinterest_board_id:
  pinterest_token:

  # Required. Make sure it's a different bucket than the one in default config, used for development.
  s3_bucket:
  s3_region:

  # Required. Set it to a random string (you can use `rake secret` to generate one).
  secret_key_base:

  # Optional. Used for exception reporting to Sentry.
  sentry_dsn:

  # Optional. Enables notifications in Slack when new entries are published.
  slack_incoming_webhook:

  # Optional. Enables sharing to Tumblr.
  tumblr_access_token_secret:
  tumblr_access_token:
  tumblr_consumer_key:
  tumblr_consumer_secret:
  tumblr_domain:

  # Optional. Enables webfonts.
  typekit_id:
