default: &default
  analytics_id: UA-123
  aws_access_key_id: abc123
  aws_cloudfront_distribution_id: abc123
  aws_secret_access_key: abc123
  buffer_access_token: abc123
  denali_secret: abc123
  dropbox_key: abc123
  flickr_access_token_secret: abc123
  flickr_access_token: abc123
  flickr_consumer_key: abc123
  flickr_consumer_secret: abc123
  google_apps_domain: example.com
  google_client_id: abc123
  google_client_secret: abc123
  google_maps_api_key: abc123
  imgix_domain: example.imgix.net
  imgix_secure: 'true'
  imgix_token: abc123
  pinterest_board_id: '123456'
  pinterest_token: abc123
  s3_bucket: www.yerbucket.com
  s3_region: us-east-1
  secret_key_base: abc123
  sentry_dsn: abc123
  slack_client_id: '123456'
  slack_client_secret: abc123
  tumblr_access_token_secret: abc123
  tumblr_access_token: abc123
  tumblr_consumer_key: abc123
  tumblr_consumer_secret: abc123
  tumblr_domain: yertumblr.tumblr.com
  twitter_access_token_secret: abc123
  twitter_access_token: abc123
  twitter_consumer_key: abc123
  twitter_consumer_secret: abc123

development:
  <<: *default

test:
  <<: *default

production:
  analytics_id: UA-123
  aws_access_key_id: abc123
  aws_cloudfront_distribution_id: abc123
  aws_secret_access_key: abc123
  buffer_access_token: abc123
  denali_secret: abc123
  dropbox_key: abc123
  flickr_access_token_secret: abc123
  flickr_access_token: abc123
  flickr_consumer_key: abc123
  flickr_consumer_secret: abc123
  google_apps_domain: example.com
  google_client_id: abc123
  google_client_secret: abc123
  google_maps_api_key: abc123
  imgix_domain: example.imgix.net
  imgix_secure: 'true'
  imgix_token: abc123
  pinterest_board_id: '123456'
  pinterest_token: abc123
  s3_bucket: www.yerbucket.com
  s3_region: us-east-1
  secret_key_base: abc123
  sentry_dsn: abc123
  slack_client_id: '123456'
  slack_client_secret: abc123
  tumblr_access_token_secret: abc123
  tumblr_access_token: abc123
  tumblr_consumer_key: abc123
  tumblr_consumer_secret: abc123
  tumblr_domain: yertumblr.tumblr.com
  twitter_access_token_secret: abc123
  twitter_access_token: abc123
  twitter_consumer_key: abc123
  twitter_consumer_secret: abc123
