<tr>
  <td><%= film.make %></td>
  <td><%= film.model %></td>
  <td><%= film.display_name %></td>
  <td>
    <div class="buttons is-pulled-right">
      <%= link_to 'Edit', edit_admin_film_path(film), class: 'button is-small' %>
    </div>
  </td>
</tr>
