<%# Link to the "Previous" page
  - available local variables
    url:           url to the previous page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<span class="pagination__link pagination__link--prev">
  <% if current_page.first? %>
    <span class="pagination__prev"><%= t('views.pagination.newer').html_safe %></span>
  <% else %>
    <%= link_to t('views.pagination.newer').html_safe, url, rel: 'prev', class: 'pagination__prev', title: 'Go to the previous page of photos' %>
  <% end %>
</span>
