<% content_for :head do %>
  <title><%= @page_title %></title>
<% end %>

<div class="error" role="main">
  <h1 class="error__hed"><%= @errors.first[:status] %></h1>
  <h2 class="error__dek"><%= @errors.first[:message] %>.</h2>
</div>
