<% content_for :meta do %>
  <title>Page not found &middot; <%= @photoblog.name %></title>
<% end %>

<% content_for :inline_css do %>
<style><%= Rails.application.assets['error.css'].to_s.html_safe %></style>
<% end %>

<div class="error">
<h1 class="error__hed">404</h1>
<h2 class="error__dek">Page not found.</h2>
</div>
