<% content_for :meta do %>
  <title>Internal server error</title>
<% end %>

<% content_for :inline_css do %>
<style><%= Rails.application.assets['error.css'].to_s.html_safe %></style>
<% end %>

<div class="error">
<h1 class="error__hed">500</h1>
<h2 class="error__dek">Internal server error.</h2>
</div>
