<% content_for :meta do %>
  <title>Internal server error &middot; <%= @photoblog.name %></title>
<% end %>


<div class="error">
<h1 class="error__hed">500</h1>
<h2 class="error__dek">Internal server error.</h2>
</div>
