<% content_for :meta do %>
  <title>Unprocessable entity &middot; <%= @photoblog.name %></title>
<% end %>

<div class="error">
<h1 class="error__hed">422</h1>
<h2 class="error__dek">Unprocessable entity, whatever that means.</h2>
</div>
