<% cache [@photoblog, @page] do %>

  <div class="level">
    <div class="level-left">
      <div>
        <h1 class="title is-size-5-mobile">Schedule</h1>
  <h2 class="subtitle is-size-6-mobile">Publishing <%= pluralize_with_delimiter 'queued entry', @photoblog.queued_entries_published_per_day %> a day</h2>
      </div>
    </div>
    <div class="level-right">
      <% if @queued_entries > 0 %>
        <div class="level-item">
          <a href="<%= admin_entries_queued_organize_path %>" class="button is-small">
            <span class="icon is-small">
              <i class="fas fa-sort"></i>
            </span>
            <span>Organize</span>
          </a>
        </div>
      <% end %>
    </div>
  </div>

  <hr class="hr">
  <table class="table is-fullwidth is-hoverable is-striped">
    <thead>
      <tr>
      <th>Time</th>
      <th class="has-text-right-desktop">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'schedule', collection: @schedules %>
    </tbody>
  </table>

  <nav class="navbar is-fixed-bottom has-shadow">
    <div class="container">
      <div class="navbar-menu is-active">
        <div class="navbar-start">
          <div class="navbar-item">
            <a href="<%= queued_admin_entries_path %>" class="button is-small">
              <span class="icon is-small">
                <i class="fas fa-long-arrow-alt-left"></i>
              </span>
              <span>Go back</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
<% end %>
