.skip-link {
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  display: block;
  font-size: 24px;
  line-height: 1;
  padding: 2rem 0;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translateY(-100%);
  transition: transform 0.3s;
  width: 100vw;

  &:focus {
    transform: translateY(0%);
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
