.admin-nav {
  align-content: center;
  background-color: #FFF;
  border-bottom: 1px solid $color-border;
  display: flex;
  flex-flow: row nowrap;
  font-size: 12px;
  left: 0;
  line-height: 2;
  padding: 4px 10px 0;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 100%;

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px); 
  }

  @at-root #{&}__group {
    align-content: center;
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
  }

  @at-root #{&}__link {
    display: block;
    padding: 0 10px;

    &:link,
    &:visited {
      color: $color-gray-dark;
    }

    &:hover,
    &:active {
      color: $color-links;
      text-decoration: none;
    }
  }

  @at-root #{&}__link--is-active {
    border-bottom: 2px solid;
    font-weight: 600;

    &:link,
    &:visited {
      color: $color-text;
    }

    &:hover,
    &:active {
      color: $color-links;
    }
  }
}
