.admin-entry {
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  margin: 24px 0;

  @at-root #{&}__thumb {
    display: block;
    font-size: 0;
  }

  @at-root #{&}__content {
    padding: 12px 20px;

    h2 {
      font-size: 24px;
      font-weight: 600;
      line-height: 1;
      margin: 1rem 0;
    }

    h3,
    h4,
    h5,
    h6 {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
      margin: 1.5rem 0;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      margin: 1.5rem 0;
    }
  }

  @at-root #{&}__meta {
    color: $color-gray-medium;
    display: flex;
    font-size: 12px;
    line-height: 2;
    padding: 12px 20px;

    a {
      margin: 0 5px;
    }

    a:link,
    a:visited {
      color: $color-gray-medium;
    }

    a:hover,
    a:active {
      color: $color-links;
    }

    a:first-child {
      margin-left: 0;
    }

    a:last-child {
      margin-right: 0;
    }
  }

  @at-root #{&}__timestamp {
    flex-grow: 1;
  }
}
