.admin-form {
  display: flex;
  flex-flow: column;

  @at-root #{&}__input {
    border: 1px solid $color-border;
    color: $color-text;
    display: block;
    flex-grow: 1;
    font-family: 'proxima-nova', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    margin: 6px 0;

    @at-root #{&}--small {
      font-size: 14px;
      line-height: 1.5;
    }

    @at-root #{&}--textarea {
      height: 25vh;
    }

    @at-root #{&}--caption {
      font-size: 16px;
      height: 60px;
      margin: 0;
      width: 100%;
    }

    &:focus {
      outline-width: 0;
    }

    &::placeholder {
      font-weight: 100;
    }
  }

  @at-root #{&}__actions {
    display: flex;
    flex-flow: row nowrap;
    padding: 24px 0;
  }

  @at-root #{&}__buttons {
    display: flex;
  }

  @at-root #{&}__buttons--safe {
    flex-grow: 1;
    justify-content: flex-end;
  }

  @at-root #{&}__select-container {
    position: relative;

    &:after {
      color: $color-gray-medium;
      content: '▼';
      position: absolute;
      right: 8px;
      top: 50%;
      transform: scaleY(0.8) translateY(-50%);
    }
  }

  @at-root #{&}__inline {
    align-items: center;
    display: flex;
  }

  @at-root #{&}__label {
    font-family: 'proxima-nova', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    margin: 24px 0 0;

    @at-root #{&}--slug {
      color: $color-text-alt;
      font-size: 14px;
      font-weight: normal;
      margin: 0 2px 0 0;
    }
  }

  @at-root #{&}__photos {
    border-bottom: 1px solid $color-border;
    border-top: 1px solid $color-border;
    margin: 24px 0;
    padding: 24px 0;
  }

  @at-root #{&}__photo {
    margin: 0 0 24px;
  }

  @at-root #{&}__photo-thumb {
    width: 300px;
  }

  @at-root #{&}__photo-fields {
    flex-grow: 1;
    padding-left: 20px;
  }



  @at-root #{&}__fields {
    display: flex;

    @at-root #{&}--hidden {
      display: none;
    }

    @at-root #{&}--aligned {
      align-items: center;
    }
  }

  @at-root #{&}__fields-separator {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 10px;
  }
}
