.admin-form {
  display: flex;
  flex-flow: column;

  @at-root #{&}__input {
    border: 0;
    color: $color-text;
    display: block;
    flex-grow: 1;
    font-family: 'proxima-nova', sans-serif;
    font-size: 24px;
    line-height: 1;
    margin: 1rem 0;

    @at-root #{&}--small {
      font-size: 14px;
      line-height: (24/14);
    }

    @at-root #{&}--textarea {
      height: 25vh;
    }

    &:focus {
      outline-width: 0;
    }

    &::placeholder {
      font-weight: 100;
    }
  }

  @at-root #{&}__actions {
    display: flex;
    flex-flow: row nowrap;
    padding: 24px 0;
  }

  @at-root #{&}__buttons {
    display: flex;
  }

  @at-root #{&}__buttons--safe {
    flex-grow: 1;
    justify-content: flex-end;
  }

  @at-root #{&}__select-container {
    position: relative;

    &:after {
      color: $color-gray-medium;
      content: '▼';
      position: absolute;
      right: 8px;
      top: 50%;
      transform: scaleY(0.8) translateY(-50%);
    }
  }

  @at-root #{&}__inline {
    align-items: center;
    display: flex;
  }

  @at-root #{&}__label {
    font-family: 'proxima-nova', sans-serif;
    font-size: 24px;
    line-height: 1;
    margin: 1rem 0;

    @at-root #{&}--small {
      font-size: 14px;
      line-height: (24/14);
    }

    @at-root #{&}--alt {
      color: $color-text-alt;
    }
  }
}
