.admin-form {
  @at-root #{&}__input {
    border: 0;
    display: block;
    font-family: 'proxima-nova', sans-serif;
    font-size: 24px;
    line-height: 1;
    margin: 1rem 0;
    width: 100%;

    @at-root #{&}--small {
      font-size: 14px;
      line-height: (24/14);
      margin: ((24/14) * 1rem) 0;
    }

    @at-root #{&}--textarea {
      height: 25vh;
    }

    &:focus {
      outline-width: 0;
    }

    &::placeholder {
      font-weight: 100;
    }
  }

  @at-root #{&}__actions {
    display: flex;
    flex-flow: row nowrap;
    padding: 24px 0;
  }

  @at-root #{&}__buttons {
    display: flex;
  }

  @at-root #{&}__buttons--safe {
    flex-grow: 1;
    justify-content: flex-end;
  }
}
