.button {
  @include button($color-alert-default, $color-text);
  -webkit-appearance: none;
  border-radius: 2px;
  color: $color-text;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 2px;
  padding: 6px 10px;
  position: relative;
  text-align: center;

  @at-root #{&}--info {
    @include button($color-alert-info);
  }

  @at-root #{&}--danger {
    @include button($color-alert-danger);
  }

  @at-root #{&}--success {
    @include button($color-alert-success);
  }

  @at-root #{&}--pad-right {
    padding-right: 20px;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline-width: 0;
  }
}
