.button {
  @include button($color-alert-default, $color-text);
  appearance: none;
  border-radius: 2px;
  color: $color-text;
  display: block;
  font-family: 'proxima-nova', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 2px;
  padding: 6px 10px;
  position: relative;
  text-align: center;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline-width: 0;
  }
}

.button--info {
  @include button($color-alert-info);
}

.button--danger {
  @include button($color-alert-danger);
}

.button--success {
  @include button($color-alert-success);
}

.button--pad-right {
  padding-right: 20px;
}
