.elsewhere {
  border-top: 4px solid var(--color-border);
  display: block;
  margin: 0 auto;
  max-width: $bp-m;
  padding: 24px 20px;

  @media (min-width: $bp-s) {
    font-size: 24px;
    line-height: (36/24);
    padding: 36px 90px;
  }
}

.elsewhere__heading {
  font-size: 18px;
  line-height: (24/18);
  padding-bottom: 24px;
  text-align: center;

  @media (min-width: $bp-s) {
    font-size: 24px;
    line-height: (36/24);
    padding-bottom: 36px;
  }
}

.elsewhere__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.elsewhere__item {
  display: block;
  flex: 0 0 auto;
  margin: 0 10px 10px;
  text-align: left;
  white-space: nowrap;

  a {
    align-items: center;
    display: flex;
    font-size: 1.6rem;
    line-height: 1.5;

    &:link,
    &:visited {
      color: var(--color-text-alt);
    }

    &:hover,
    &:active {
      color: var(--color-links);
    }
  }
}

.elsewhere__label {
  display: none;

  @media (min-width: $bp-xs) {
    display: inline-block;
  }
}

.elsewhere__icon {
  display: inline-block;
  fill: currentColor;
  height: 20px;
  margin-right: 0.5rem;
  width: 20px;
}
