.elsewhere {
  border-top: var(--border-thick) solid var(--color-border);
  display: block;
  font-size: var(--font-size-heading);
  line-height: var(--line-height-heading);
  margin: 0 auto;
  max-width: $bp-m;
  padding: var(--gutter-horizontal) var(--gutter-vertical);
}

.elsewhere__heading {
  font-size: var(--font-size-heading);
  font-weight: 400;
  line-height: var(--line-height-heading);
  padding-bottom: var(--gutter-horizontal);
  text-align: center;
}

.elsewhere__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.elsewhere__item {
  display: block;
  flex: 0 0 auto;
  margin: 0 10px 10px;
  text-align: left;
  white-space: nowrap;

  a {
    align-items: center;
    display: flex;
    font-size: 14px;
    line-height: (36/14);

    &:link,
    &:visited {
      color: var(--color-text-alt);
    }

    &:hover,
    &:active {
      color: var(--color-links);
    }
  }
}

.elsewhere__label {
  display: none;

  @media (min-width: $bp-xs) {
    display: inline-block;
  }
}

.elsewhere__icon {
  display: inline-block;
  fill: currentColor;
  height: 20px;
  margin-right: 0.5rem;
  width: 20px;
}

.elsewhere--affiliate {
  .elsewhere__list {
    flex-flow: row wrap;
  }

  .elsewhere__label {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100vw - 20px - 0.5rem - ( 2 * var(--gutter-vertical)));
  }
}
