.entry-list {
  @include clearfix;
  display: block;
  margin: var(--margin-content);
  max-width: $bp-max;
  position: relative;

  @supports (grid-template-rows: masonry) {
    display: grid;
    gap: var(--entry-list-gutters);
    grid-template-columns: repeat(var(--entry-list-columns), 1fr);
    grid-template-rows: masonry;
  }
}

.entry_list__heading {
  font-size: var(--font-size-heading);
  line-height: var(--line-height-heading);
  margin: 0 auto;
  max-width: $bp-max;
  padding: 0 var(--gutter-vertical) var(--gutter-horizontal);
  text-align: center;
}

.entry-list--related {
  margin-top: 0;
}

.entry-list__item {
  display: block;
  float: left;
  margin: 0 calc(var(--entry-list-gutters)/2) var(--entry-list-gutters);
  overflow: hidden;
  position: relative;
  width: calc((100%/var(--entry-list-columns)) - var(--entry-list-gutters));

  @supports (grid-template-rows: masonry) {
    float: none;
    margin: 0;
    width: 100%;
  }
}

.entry-list__wrapper {
  overflow: hidden;
  padding-top: calc(var(--aspect-ratio, 1) * 100%);
}

.entry-list__link {
  background: radial-gradient(at top left, var(--gradient-start, $color-gray-very-light), var(--gradient-end, $color-gray-light));
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  display: block;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;

  &:hover,
  &:active {
    text-decoration: none;

    h2 {
      text-decoration: underline;
    }
  }

  &:focus .entry-list__photo-caption {
    opacity: 1;
  }

  &:hover .entry-list__photo-caption {
    @media (-moz-touch-enabled: 0), (hover: hover) {
      opacity: 1;
    }
  }
}

.entry-list__image {
  display: block;
  height: auto;
  max-width: 100%;
}

.entry-list__photo-caption {
  align-items: center;
  backdrop-filter: blur(20px);
  background-color: var(--color-photo-hover);
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 20px;
  position: absolute;
  right: 0;
  transition: opacity var(--transition-duration);
  width: 100%;
  z-index: 1;
}

.entry-list__photo-title {
  color: var(--color-photo-text);
  font-size: 14px;
  line-height: calc(24/14);
  margin: 0;
  text-align: center;
  width: 100%;

  @media (min-width: $bp-xs) {
    font-size: 16px;
    line-height: calc(24/16);
  }

  @media (min-width: $bp-s) {
    font-size: 20px;
    line-height: calc(36/20);
  }

  @media (min-width: $bp-m) {
    font-size: 22px;
    line-height: calc(36/22);
  }
}

.entry-list__photo-meta {
  color: var(--color-photo-text);
  font-size: var(--font-size-text-alt);
  font-style: italic;
  line-height: var(--line-height-text-alt);
  margin: 0;
  text-align: center;
  width: 100%;
}
