.entry-list {
  @include clearfix;
  display: block;
  margin: 24px auto;
  max-width: $bp-max;

  @media (min-width: $bp-xl) {
    margin: 72px auto;
  }
}

.entry_list__heading {
  font-size: 18px;
  line-height: (24/18);
  margin: 0 auto;
  max-width: $bp-max;
  padding: 0 20px 24px;
  text-align: center;

  @media (min-width: $bp-s) {
    font-size: 24px;
    line-height: (36/24);
    padding: 0 90px 36px;
  }
}

.entry-list--related {
  margin-top: 0;

  @media (min-width: $bp-s) {
    margin-top: 0;
  }
}

.entry-list__item {
  border-radius: 4px;
  display: block;
  float: left;
  margin: 0 4px 8px;
  overflow: hidden;
  position: relative;
  width: calc(50% - 8px);

  @media (min-width: $bp-xxxs) {
    width: calc(100%/3 - 8px);
  }

  @media (min-width: $bp-xl) {
    width: calc(25% - 8px);
  }
}

.entry-list__wrapper {
  background-color: $color-photo-background;
  background-repeat: no-repeat;
  background-size: cover;
}

.entry-list__wrapper--square {
  padding-top: 100%;
}

.entry-list__link {
  bottom: 0;
  display: block;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;

  &:hover,
  &:active {
    text-decoration: none;

    h2 {
      text-decoration: underline;
    }
  }
}

.entry-list__link--amp {
  position: relative;
}

.entry-list__item--map {
  float: none;
  font-family: $font-sans;
  margin: 0;
  width: 100%;

  .entry-list__wrapper {
    padding-top: 100%;
  }
}

.entry-list__image {
  height: 100%;
  width: 100%;

  &.noscript {
    left: 0;
    position: absolute;
    top: 0;
  }
}

.entry-list__photo {
  height: 100%;
  overflow: hidden;

  &:hover .entry-list__photo-caption {
    @media (-moz-touch-enabled: 0), (hover: hover) {
      opacity: 1;
    }
  }

  noscript {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.entry-list__photo-caption {
  align-items: center;
  backdrop-filter: blur(20px);
  background-color: transparentize(black, 0.35);
  border-radius: 4px;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 20px;
  position: absolute;
  right: 0;
  transition: opacity 150ms linear;
  width: 100%;
  z-index: 1;
}

.entry-list__photo-title {
  color: #FFF;
  line-height: 1.2;
  margin: 1.2rem 0;
  text-align: center;
  width: 100%;

  @media (min-width: $bp-xs) {
    font-size: 16px;
  }

  @media (min-width: $bp-s) {
    font-size: 20px;
  }

  @media (min-width: $bp-m) {
    font-size: 24px;
  }

  .entry-list__item--map & {
    font-size: 18px;
    line-height: 1.2;
    margin: 1.2rem 0;
  }
}

.entry-list__photo-meta {
  color: #FFF;
  font-size: 14px;
  font-style: italic;
  line-height: 1.5;
  margin: 0;
  text-align: center;
  width: 100%;
}
