.entry-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 24px auto;
  max-width: $bp-xxl;
  padding: 0 2px;

  @media (min-width: $bp-m) {
    margin: 72px auto;
  }
}

.entry-list--related {
  margin-top: 0;

  @media (min-width: $bp-m) {
    margin-top: 0;
  }
}

.entry-list__item {
  @include aspect-ratio(1, 1, '.entry-list__link');
  display: block;
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  overflow: hidden;
  padding: 2px;

  @media (min-width: $bp-s) {
    flex-basis: calc(100%/3);
    flex-grow: 0;
    flex-shrink: 0;
  }

  @media (min-width: $bp-xxl) {
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.entry-list__link {
  display: block;
  margin: 2px;
  overflow: hidden;

  &:hover,
  &:active {
    text-decoration: none;

    h2 {
      text-decoration: underline;
    }
  }
}

.entry-list__image {
  height: 100%;
  width: 100%;

  &.noscript {
    left: 0;
    position: absolute;
    top: 0;
  }
}

.entry-list__link--text {
  font-size: 14px;
  padding: 1.5rem;

  h2 {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 1.5rem;
  }

  p {
    color: $color-text;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }

  p + p {
    margin-top: 0;
    text-indent: 1.5rem;
  }

  &::after {
    background-image: linear-gradient(to bottom, transparentize($color-background, 1), $color-background);
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }
}

.entry-list__link--photo {
  background-color: $color-gray-very-light;
}

.entry-list__photo {
  overflow: hidden;

  &:hover .entry-list__photo-title {
    opacity: 1;
  }
}

.entry-list__photo-title {
  display: none;

  @media (min-width: $bp-s) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.85));
    bottom: 0;
    color: #FFF;
    display: block;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    line-height: 1.5;
    opacity: 0;
    padding: 3rem 1.5rem 1.5rem;
    position: absolute;
    right: 0;
    text-shadow: 0 1px 0 #000;
    transition: opacity 150ms linear;
    width: 100%;
    z-index: 1;
  }
}
