.entry {
  margin: 24px auto;
  max-width: $bp-max;
  width: 100%;

  @media (min-width: $bp-xl) {
    margin: 72px auto;
  }
}

.entry__headline {
  font-size: 20px;
  line-height: (24/20);
  margin: (2.4rem/2) 0;

  @media (min-width: $bp-s) {
    font-size: 28px;
    line-height: (36/28);
    margin: (3.6rem/2.8) 0;
  }
}

// Below the fold

.entry__body {
  margin: 0 auto;
  max-width: $bp-m;
  padding: 24px 20px;

  @media (min-width: $bp-s) {
    padding: 36px 90px;
  }
}


.entry--text {
  .entry__body {
    padding-top: 0;
  }
}

.entry--photo {
  .entry__body {
    border-top: 4px solid $color-border;
    padding-top: 24px;

    @media (min-width: $bp-s) {
      padding-top: 36px;
    }
  }
}

.entry__photo-container {
  margin: 0 auto;
  max-width: 100%;
}

.entry__figure {
  background-color: $color-photo-background;
  display: flex;
  font-size: 0;
  justify-content: center;
  margin: 0 0 24px;
  max-width: 100vw;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;

  a {
    display: inline-block;
    font-size: 0;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $bp-s) {
    margin: 0 0 36px;
  }
}

.entry__photo {
  display: inline-block;
  left: 0;
  max-width: 100%;
  position: absolute;
  top: 0;
  width: auto;
  z-index: 1;
}

.entry--photo #{&}__body {
  border-top: 1px solid $color-border;
}

.entry__body {
  @extend %default-entry-styles;
}

.entry__meta {
  border-bottom: 4px solid $color-border;
  border-top: 1px solid $color-border;
  margin: 0 auto;
  max-width: ($bp-m - 180px);
  padding: 24px 20px;

  p {
    color: $color-text-alt;
    font-size: 14px;
    font-style: italic;
    line-height: (24/14);
    margin: 0;
    text-align: center;

    @media (min-width: $bp-s) {
      font-size: 16px;
      line-height: (36/16);
    }
  }

  a:link,
  a:visited {
    color: $color-text-alt;
  }

  a:hover,
  a:active {
    color: $color-links;
    text-decoration: none;
  }

  @media (min-width: $bp-s) {
    padding: 36px 0;
  }
}

.entry__related {
  border-top: 4px solid $color-border;
  font-size: 18px;
  line-height: (24/18);
  margin: 0 auto;
  max-width: $bp-m;
  padding: 24px 20px;
  text-align: center;

  @media (min-width: $bp-s) {
    font-size: 24px;
    line-height: (36/24);
    padding: 36px 90px;
  }
}

.entry__embed {
  margin: 12px 0;

  @media (min-width: $bp-s) {
    margin: 18px 0;
  }
}

.entry__embed--youtube {
  @include aspect-ratio(560, 315);
}

.entry__photo--zoomable {
  cursor: zoom-in;
}

.entry__photo-container--zoom .entry__photo--zoomable {
  cursor: zoom-out;
}

%default-entry-styles {
  p,
  ul,
  ol,
  dl {
    font-family: $font-serif;
    font-size: 16px;
    line-height: (24/16);
    margin: (2.4rem/1.6) 0;

    @media (min-width: $bp-s) {
      font-size: 20px;
      line-height: (36/20);
      margin: (3.6rem/2) 0;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 18px;
    line-height: (24/18);
    margin: (2.4rem/1.8) 0;

    @media (min-width: $bp-s) {
      font-size: 28px;
      line-height: (36/28);
      margin: (3.6rem/2.8) 0;
    }
  }

  p {
    margin: (2.4rem/1.6) 0 0;

    @media (min-width: $bp-s) {
      margin: (3.6rem/2) 0 0;
    }
  }

  p + p {
    margin-top: 0;
    text-indent: 24px;

    @media (min-width: $bp-s) {
      text-indent: 36px;
    }
  }

  ul,
  ol {
    padding: 0;
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  cite,
  em,
  i {
    font-style: italic;
  }

  strong,
  b {
    font-style: normal;
    font-weight: bold;
  }

  small {
    font-size: 14px;
    line-height: (24/14);

    @media (min-width: $bp-s) {
      font-size: 16px;
      line-height: (36/16);
    }
  }

  q:before {
    content: '\201c';
  }

  q q:before {
    content: '\2018';
  }

  q:after {
    content: '\201d';
  }

  q q:after {
    content: '\2019';
  }

  blockquote {
    color: $color-text-alt;
    font-style: italic;
    margin: 0 1.5rem;
    padding-left: 5px;
    position: relative;
  }
}
