.entry {
  margin: 20vw auto;
  max-width: $bp-max;
  width: 100%;

  &:first-of-type {
    margin-top: 48px;
  }

  &:last-of-type {
    margin-bottom: 48px;
  }

  @media (min-width: $bp-max) {
    margin: ($bp-max * 0.2) auto;
  }

  @at-root #{&}__body {
    @extend %default-entry-styles;
    margin: 0 auto;
    max-width: $bp-l;
    padding: 0 20px;

    @media (min-width: $bp-l) {
      padding: 0;
    }
  }

  @at-root #{&}__headline {
    font-size: 16px;
    line-height: 1.5;
    margin: 1.5rem 0;
  }

  @at-root #{&}__headline--text {
    font-size: 24px;
    line-height: 1;
    margin: 1rem 0;
  }

  @at-root #{&}__meta {
    color: $color-text;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    margin: 24px auto;
    max-width: $bp-l;
    padding: 0 20px;

    p {
      font-size: 14px;
      line-height: (2.4/1.4);
      margin: 0;
    }

    a:link,
    a:visited {
      color: $color-text;
    }

    a:hover,
    a:active {
      color: $color-links;
      text-decoration: none;
    }

    @media (min-width: $bp-l) {
      padding: 0;
    }
  }

  @at-root #{&}__photo {
    font-size: 0;
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
    width: 100%;

    a {
      display: inline-block;
      font-size: 0;
      margin: 0;
      padding: 0;
    }
  }

  @at-root #{&}__image {
    display: inline-block;
    max-width: 100%;
  }
}

%default-entry-styles {
  p,
  ul,
  ol,
  dl {
    font-size: 16px;
    line-height: 1.5;
    margin: 1.5rem 0;
  }

  p {
    margin: 1.5rem 0 0;
  }

  p + p {
    margin-top: 0;
    text-indent: 1.5rem;
  }

  ul,
  ol {
    padding: 0;
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  cite,
  em {
    font-style: italic;
    font-weight: 300;
  }

  strong {
    font-style: normal;
    font-weight: bold;
  }

  small {
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
  }

  q:before {
    content: '\201c';
  }

  q q:before {
    content: '\2018';
  }

  q:after {
    content: '\201d';
  }

  q q:after {
    content: '\2019';
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin: 1.5rem 0;
  }

  blockquote {
    border-left: 2px solid;
    font-weight: 300;
    margin: 0 1.5rem;
    padding-left: 5px;
    position: relative;

    p:first-child:before {
      content: '“';
      font-size: 36px;
      left: -20px;
      position: absolute;
      top: -10px;
    }
  }
}
