.entry-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 24px auto;
  max-width: $bp-xxl;
  padding: 0 2px;

  @media (min-width: $bp-m) {
    margin: 72px auto;
  }
}

.entry-list--related {
  margin-top: 0;

  @media (min-width: $bp-m) {
    margin-top: 0;
  }
}

.entry-list__item {
  @include aspect-ratio(1, 1, '.entry-list__link');
  display: block;
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  overflow: hidden;
  padding: 2px;

  @media (min-width: $bp-s) {
    flex-basis: calc(100%/3);
    flex-grow: 0;
    flex-shrink: 0;
  }

  @media (min-width: $bp-xxl) {
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.entry-list__link {
  display: block;
  margin: 2px;
  overflow: hidden;

  &:hover,
  &:active {
    text-decoration: none;

    h2 {
      text-decoration: underline;
    }
  }
}

.entry-list__image {
  height: 100%;
  width: 100%;

  &.noscript {
    left: 0;
    position: absolute;
    top: 0;
  }
}

.entry-list__link--text {
  font-size: 14px;
  padding: 1.5rem;

  h2 {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 1.5rem;
  }

  p {
    color: $color-text;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }

  p + p {
    margin-top: 0;
    text-indent: 1.5rem;
  }

  &::after {
    background-image: linear-gradient(to bottom, transparentize($color-background, 1), $color-background);
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }
}

.entry-list__link--photo {
  background-color: $color-gray-very-light;
}

.entry-list__photo {
  overflow: hidden;

  &:hover .entry-list__photo-caption {
    @media (min-width: $bp-s) {
      opacity: 1;
    }
  }
}

.entry-list__photo-caption {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 20px;
  position: absolute;
  right: 0;
  transition: opacity 150ms linear;
  width: 100%;
  z-index: 1;

  @supports (backdrop-filter: none) {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  }
}

.entry-list__photo-title {
  color: #FFF;
  font-family: 'kepler-std-display', 'Times New Roman', serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 1.2rem 0;
  text-align: center;
  text-shadow: 0 1px 0 #000;

  @media (min-width: $bp-s) {
    font-size: 16px;
  }

  @media (min-width: $bp-m) {
    font-size: 20px;
  }

  @media (min-width: $bp-l) {
    font-size: 24px;
  }

  @media (min-width: $bp-xl) {
    font-size: 32px;
  }

  @media (min-width: $bp-xxl) {
    font-size: 24px;
  }
}

.entry-list__photo-meta {
  color: #FFF;
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
  text-align: center;
  text-shadow: 0 1px 0 #000;
}
