.entry {
  margin: 24px auto;
  max-width: $bp-max;
  width: 100%;

  @media (min-width: $bp-xl) {
    margin: 72px auto;
  }
}

.entry__photo-container {
  margin: 0 auto;
  max-width: 100%;
}

.entry__figure {
  background-color: $color-photo-background;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  font-size: 0;
  justify-content: center;
  margin: 0 0 24px;
  max-width: 100vw;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;

  a {
    display: inline-block;
    font-size: 0;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $bp-s) {
    margin: 0 0 36px;
  }

  &::before {
    @supports (backdrop-filter: none) {
      backdrop-filter: blur(25px);
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}

.entry__photo {
  display: inline-block;
  left: 0;
  max-width: 100%;
  position: absolute;
  top: 0;
  width: auto;
  z-index: 1;
}
