.entry__body {
  @extend %default-entry-styles;
}

.entry__meta {
  border-bottom: 4px solid $color-border;
  border-top: 1px solid $color-border;
  margin: 0 auto;
  max-width: ($bp-m - 180px);
  padding: 24px 20px;

  p {
    color: $color-text-alt;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: (24/14);
    margin: 0;
    text-align: center;

    @media (min-width: $bp-s) {
      font-size: 16px;
      line-height: (36/16);
    }
  }

  a:link,
  a:visited {
    color: $color-text-alt;
  }

  a:hover,
  a:active {
    color: $color-links;
    text-decoration: none;
  }

  @media (min-width: $bp-s) {
    padding: 36px 0;
  }
}

.entry__related {
  border-top: 4px solid $color-border;
  font-family: 'kepler-std-display', 'kepler-std', 'Georgia', serif;
  font-size: 18px;
  line-height: (24/18);
  margin: 0 auto;
  max-width: $bp-m;
  padding: 24px 20px;
  text-align: center;

  @media (min-width: $bp-s) {
    font-size: 24px;
    line-height: (36/24);
    padding: 36px 90px;
  }
}

.entry__embed {
  margin: 12px 0;

  @media (min-width: $bp-s) {
    margin: 18px 0;
  }
}

.entry__embed--youtube {
  @include aspect-ratio(560, 315);
}

.entry__photo--zoomable {
  cursor: zoom-in;
}

.entry__photo-container--zoom .entry__photo--zoomable {
  cursor: zoom-out;
}

%default-entry-styles {
  p,
  ul,
  ol,
  dl {
    font-size: 16px;
    font-weight: 300;
    line-height: (24/16);
    margin: (2.4rem/1.6) 0;

    @media (min-width: $bp-s) {
      font-size: 20px;
      line-height: (36/20);
      margin: (3.6rem/2) 0;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'kepler-std-display', 'kepler-std', 'Georgia', serif;
    font-size: 18px;
    font-weight: 300;
    line-height: (24/18);
    margin: (2.4rem/1.8) 0;

    @media (min-width: $bp-s) {
      font-size: 28px;
      line-height: (36/28);
      margin: (3.6rem/2.8) 0;
    }
  }

  p {
    margin: (2.4rem/1.6) 0 0;

    @media (min-width: $bp-s) {
      margin: (3.6rem/2) 0 0;
    }
  }

  p + p {
    margin-top: 0;
    text-indent: 24px;

    @media (min-width: $bp-s) {
      text-indent: 36px;
    }
  }

  ul,
  ol {
    padding: 0;
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  cite,
  em,
  i {
    font-style: italic;
    font-weight: 300;
  }

  strong,
  b {
    font-style: normal;
    font-weight: bold;
  }

  small {
    font-size: 14px;
    font-weight: 400;
    line-height: (24/14);

    @media (min-width: $bp-s) {
      font-size: 16px;
      line-height: (36/16);
    }
  }

  q:before {
    content: '\201c';
  }

  q q:before {
    content: '\2018';
  }

  q:after {
    content: '\201d';
  }

  q q:after {
    content: '\2019';
  }

  blockquote {
    color: $color-text-alt;
    font-style: italic;
    font-weight: 300;
    margin: 0 1.5rem;
    padding-left: 5px;
    position: relative;
  }

  .entry__disclaimer {
    color: $color-text-alt;
    font-size: 12px;
    font-weight: 300;
    line-height: (24/12);
    margin: (2.4rem/1.2) 0;

    @media (min-width: $bp-s) {
      font-size: 15px;
      line-height: (36/15);
      margin: (3.6rem/1.5) 0;
    }
  }
}
