.exif {
  color: var(--color-text-alt);
}

.exif__field {
  display: inline;
  white-space: nowrap;

  &::after {
    content: ' · ';
  }

  &:last-of-type::after {
    content: none;
  }
}

.exif__optional {
  display: none;

  @media (min-width: $bp-m) {
    display: inline;
  }
}
