.flash {
  @include flash($color-alert-default);
  border-radius: 2px;
  color: #FFF;
  padding: 0 20px;

  h2 {
    font-size: 24px;
    font-weight: 100;
    line-height: 1;
  }
}

.flash--success {
  @include flash($color-alert-success);
}

.flash--warning {
  @include flash($color-alert-warning);
}

.flash--danger {
  @include flash($color-alert-danger);
}
