.flash {
  @include stripes($color-alert-default, $color-text);
  align-items: center;
  border-radius: 2px;
  display: flex;
  flex-flow: row nowrap;
  margin: 0 20px;
  padding: 10px;

  .flash__message {
    flex-grow: 1;
    font-size: 12px;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
  }

  .flash__close {
    color: currentColor;
    font-size: 24px;
    font-weight: bold;
    line-height: 12px;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  @media (min-width: $bp-admin-m) {
    margin: 0;
  }
}

.flash--notice {
  @include stripes($color-alert-success);
}

.flash--alert {
  @include stripes($color-alert-danger);
}

.flash--flash {
  @include stripes($color-alert-info);
}
