.follow {
  text-align: center;
}

.follow__link {
  display: inline-block;
  height: 20px;
  margin: 12px 5px;
  padding: 2px;
  width: 20px;

  &:link,
  &:visited {
    fill: $color-gray-light;
  }

  &:hover,
  &:active {
    fill: $color-links;
  }
}

.follow__icon {
  height: 16px;
  width: 16px;
}
