.follow {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
}

.follow__link {
  align-items: center;
  background: none;
  border: none;
  display: flex;
  height: 20px;
  justify-content: center;
  position: relative;
  width: 20px;

  &,
  &:link,
  &:visited {
    fill: var(--color-icon-fill);
  }

  &:hover,
  &:active {
    fill: var(--color-links);
  }
}

.follow__icon {
  height: 20px;
  width: 20px;
}

