.footer {
  border-top: 1px solid $color-border;
  display: block;
  margin: 0 auto;
  max-width: $bp-m;
  padding: 24px 20px;
  width: 100%;

  p {
    font-size: 14px;
    line-height: (24/14);
    margin: 0;
    text-align: center;

    @media (min-width: $bp-s) {
      font-size: 16px;
      line-height: (36/16);
    }
  }

  @media (min-width: $bp-s) {
    margin: 0 auto;
    padding: 36px 90px;
  }
}

.footer__links {
  display: block;

  @media (min-width: $bp-s) {
    display: inline;

    &::before {
      content: ' · ';
    }
  }
}
