.footer {
  margin: 48px auto;
  max-width: $bp-m;
  padding: 0 20px;
  width: 100%;

  p {
    font-size: 14px;
    line-height: (24/14);
    margin: 0;
    text-align: center;
  }

  @media (min-width: $bp-s) {
    margin: 72px auto;
    padding: 0;
  }
}

.footer__links {
  display: block;

  @media (min-width: $bp-s) {
    display: inline;

    &::before {
      content: ' · ';
    }
  }
}
