.header {
  margin: 48px auto 24px;
  max-width: $bp-max;
  text-align: center;
  width: 100%;

  h1 {
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    width: 100%;

    @media (min-width: $bp-s) {
      font-size: 24px;
    }
  }

  h2 {
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    width: 100%;
  }

  a:link,
  a:visited {
    color: $color-text;
  }

  a:hover,
  a:active {
    color: $color-links;
    text-decoration: none;
  }
}
