.header {
  margin: 48px auto;
  max-width: $bp-max;
  text-align: center;
  width: 100%;

  @media (min-width: $bp-m) {
    margin: 72px auto;
  }
}

.header__link {
  display: block;
  margin: 0 auto;
  max-width: 320px;
  width: 50vw;

  &:hover,
  &:active {
    path {
      fill: $color-links;
    }
  }

  @media (min-width: $bp-s) {
    width: 33vw;
  }

  @media (min-width: $bp-xxl) {
    max-width: 360px;
  }

  @media (min-width: $bp-max) {
    max-width: 420px;
  }
}

.header__icon {
  path {
    transition: fill 150ms ease-in-out;
  }
}
