.header {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin: 24px auto;
  max-width: $bp-max;
  text-align: center;
  width: 100%;

  @media (min-width: $bp-l) {
    flex-flow: row nowrap;
    margin: 72px auto;
  }
}

.header__section {
  &:first-of-type {
    border-bottom: 1px solid $color-border;
    width: calc(100% - 40px);
  }

  @media (min-width: $bp-l) {
    border-bottom: 1px solid $color-border;
    flex-grow: 1;
    margin-bottom: 45px;
    padding: 0 20px;
    width: inherit;

    &:first-of-type {
      width: inherit;
    }
  }
}

.header__tagline {
  color: $color-text-alt;
  font-size: 16px;
  font-style: italic;
  line-height: 44px;

  a:link,
  a:visited {
    color: $color-text-alt;
  }

  a:hover,
  a:active {
    color: $color-links;
  }
}

.header__link {
  display: block;
  margin: 0 auto 12px;
  max-width: 320px;
  order: -1;
  width: 50vw;

  &:hover,
  &:active {
    path {
      fill: $color-links;
    }
  }

  @media (min-width: $bp-xs) {
    width: 100%;
  }

  @media (min-width: $bp-l) {
    margin: 0 auto;
    order: inherit;
    padding: 0 20px;
  }
}

.header__icon {
  path {
    transition: fill 150ms ease-in-out;
  }
}
