.main-content {

  & > h2 {
    border-bottom: var(--border-thick) solid var(--color-border);
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-heading);
    line-height: var(--line-height-heading);
    margin: 0 auto;
    max-width: var(--max-width-content);
    padding: var(--gutter-horizontal) 0;
    text-align: center;
  }
}
