.map {
  height: calc(100vh - 50px);
  width: 100vw;

  .map__marker {
    align-items: center;
    background-color: $color-red;
    background-image: linear-gradient(to bottom, $color-red, shade($color-red, 25%));
    border-radius: 100%;
    color: #FFF;
    display: flex;
    justify-content: center;
    font-family: 'kepler-std', 'Times New Roman', serif;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);

    &.map__marker--cluster {
      box-shadow: 0 0 0 2px transparentize($color-red, 0.5);
    }

    &.map__marker--point {
      box-shadow: 0 0 0 1px transparentize($color-red, 0.5);
    }
  }
}
