.map {
  height: calc(100vh - 50px);
  width: 100vw;

  .map__marker {
    align-items: center;
    background-color: $color-red;
    border-radius: 100%;
    box-shadow: 0 0 0 2px transparentize($color-red, 0.5);
    color: #FFF;
    display: flex;
    font-family: 'kepler-std', 'Times New Roman', serif;
    height: 20px;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 20px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  }
}
