.pagination {
  display: flex;
  flex-flow: row nowrap;
  font-family: 'kepler-std-display', 'kepler-std', 'Georgia', serif;
  font-size: 24px;
  line-height: 1;
  margin: 24px 0;
  max-width: $bp-m;
  text-align: center;
  width: 100%;

  @media (min-width: $bp-xxs) {
    margin: 72px auto;
  }

  a:link,
  a:visited {
    color: $color-text;
  }

  a:hover,
  a:active {
    color: $color-links;
    text-decoration: none;
  }
}

.pagination--entry {
  justify-content: space-between;
}

.pagination__link {
  color: $color-gray-light;
  flex-basis: 50%;
  padding: 24px 0;
  text-align: center;
}

.pagination__prev::before {
  content: '«';
  padding: 0 1rem;
}

.pagination__next::after {
  content: '»';
  padding: 0 1rem;
}

.pagination__arrow {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50px;
}

.pagination__icon {
  fill: $color-disabled;
  height: 16px;
  width: 12px;

  @media (min-width: $bp-xs) {
    height: 20px;
    width: 15px;
  }

  @media (min-width: $bp-s) {
    height: 28px;
    width: 21px;
  }

  @media (min-width: $bp-m) {
    height: 32px;
    width: 24px;
  }
}

.pagination__icon--active {
  fill: $color-text;
}

.pagination__arrow .pagination__icon--active:hover {
  fill: $color-links;
}

.pagination__thumbnails {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: calc(100% - 100px);
}

.pagination__thumbnail-item {
  @include aspect-ratio(1, 1, '.pagination__thumbnail-link');
  display: block;
  flex-basis: calc(100% / 7);
}

.pagination__thumbnail-link {
  padding: 1px;
}

.pagination__thumbnail {
  border: 2px solid transparentize($color-links, 1);
  transition: opacity $fadein-duration linear, border-color 100ms ease-in-out;

  &:hover {
    border-color: $color-links;
  }
}

.pagination__thumbnail--active {
  border: 2px solid $color-links;
}
