.pagination {
  display: flex;
  flex-flow: row nowrap;
  font-size: var(--font-size-subheading);
  font-weight: var(--font-weight-subheading);
  line-height: var(--line-height-subheading);
  max-width: var(--max-width-content);
  text-align: center;
  width: 100%;
}

.pagination__item {
  align-items: stretch;
  color: var(--color-text-alt);
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  text-align: center;
}

.pagination__link {
  @include pills;
  border: none;

  svg {
    height: 20px;
    width: 20px;
  }
}
