.pagination {
  display: flex;
  flex-flow: row nowrap;
  font-size: 24px;
  line-height: 1;
  margin: 24px 0;
  max-width: $bp-m;
  text-align: center;
  width: 100%;

  @media (min-width: $bp-xxs) {
    margin: 72px auto;
  }

  a:link,
  a:visited {
    color: var(--color-text);
  }

  a:hover,
  a:active {
    color: var(--color-links);
    text-decoration: none;
  }
}

.pagination__link {
  color: var(--color-pagination-text);
  flex-basis: 50%;
  padding: 24px 0;
  text-align: center;
}

.pagination__prev::before {
  content: '«';
  padding: 0 1rem;
}

.pagination__next::after {
  content: '»';
  padding: 0 1rem;
}
