.pagination {
  font-size: 48px;
  line-height: 1;
  margin: 1rem 0;
  max-width: $bp-l;
  text-align: center;
  width: 100%;

  @media (min-width: $bp-xs) {
    margin: 1rem auto;
  }

  a:link,
  a:visited {
    color: $color-text;
  }

  a:hover,
  a:active {
    color: $color-links;
    text-decoration: none;
  }
}

.pagination__link {
  color: $color-text-alt;
  margin: 0 1rem;
}
