.push-notifications__button {
  @extend .button;
  margin: 0 auto;
  position: static;
  width: fit-content;
}

.push-notifications__button--off {
  @include button($color-green);
}

.push-notifications__button--on {
  @include button($color-gray-light);
}

.push-notifications__button--disabled {
  @include button($color-gray-light);
  cursor: not-allowed;

  &:hover {
    cursor: not-allowed;
  }
}
