.push-notifications {
  align-items: center;
  display: flex;
  flex-flow: column;
}

.push-notifications__label {
  align-items: center;
  display: flex;
  font-size: var(--font-size-text-alt);
  line-height: var(--line-height-text-alt);
}

.push-notifications__label--disabled {
  color: var(--color-text-disabled);
}

.push-notifications__checkbox {
  display: inline-block;
  height: 20px;
  margin: 0 1rem;
  width: 20px;
}
