.push-notifications {
  align-items: center;
  display: flex;
  flex-flow: column;
}

.push-notifications__label {
  align-items: center;
  display: flex;
  font-size: var(--font-size-text-alt);
  line-height: var(--line-height-text-alt);
}

.push-notifications__message {
  font-size: var(--font-size-text-alt);
  font-style: italic;
  line-height: var(--line-height-text-alt);
}

.push-notifications__message--hidden {
  display: none;
}

.push-notifications__checkbox {
  display: inline-block;
  height: 20px;
  margin: 0 1rem;
  width: 20px;
}
