.share {
  margin: 12px auto 0;
  max-width: $bp-l;
  text-align: center;

  @media (min-width: $bp-m) {
    margin: 18px auto 0;
  }
}

.share__link {
  border-radius: 40px;
  display: inline-block;
  height: 40px;
  margin: 0 5px;
  width: 40px;

  &:link,
  &:visited {
    background-color: $color-gray-light;
  }

  &:hover,
  &:active {
    background-color: $color-links;
  }
}

.share__icon {
  fill: #FFF;
  height: 100%;
  padding: 10px;
  width: 100%;
}
