.share {
  align-items: center;
  background: var(--color-share-background);
  border-radius: 22px;
  border: 2px solid var(--color-border);
  bottom: 20px;
  color: var(--color-text-alt);
  display: flex;
  font-size: 14px;
  height: 44px;
  justify-content: center;
  padding: 0 22px;
  position: fixed;
  right: 20px;
  z-index: 100;

  &:link,
  &:visited {
    color: var(--color-text-alt);
  }

  &:hover,
  &:active {
    @media (-moz-touch-enabled: 0), (hover: hover) {
      color: var(--color-links);
      text-decoration: none;
    }
  }
}

.share--hidden {
  display: none;
}

.share__icon {
  display: inline-block;
  fill: currentColor;
  height: 14px;
  margin-right: 0.5rem;
  width: 14px;
}
