.shortcuts {
  display: block;
  font-size: 14px;
  line-height: (24/14);
  text-align: center;
  width: 100%;

  @at-root #{&}__shortcut {
    display: inline-block;
    list-style-type: none;
    margin: 0 10px;
  }

  @at-root #{&}__key {
    background-color: tint($color-border, 75%);
    border: 1px solid $color-border;
    border-radius: 2px;
    color: shade($color-text-alt, 25%);
    margin: 0 1px;
    padding: 0 2px;
  }
}
