.tags {
  [rel="tag"] {
    margin-right: 4px;
    text-transform: lowercase;
    white-space: nowrap;

    &::before {
      content: '#';
    }

    &:link,
    &:visited {
      color: var(--color-text-alt);
    }

    &:hover,
    &:active {
      color: var(--color-links);
    }
  }
}
