@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';

@import '../blocks/entry_atf';
@import '../blocks/entry_btf';
@import '../blocks/elsewhere';

// scss-lint:disable ImportantRule
.entry__photo-container--zoom {
  width: auto !important;
}

.twitter-tweet {
  margin: 24px auto 0 !important;

  @media (min-width: $bp-s) {
    margin: 36px auto 0 !important;
  }
}
// scss-lint:enable ImportantRule
