@import 'vendors/reset';
@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'blocks/entry';
@import 'blocks/footer';
@import 'blocks/tags';
@import 'blocks/exif';

* {
  box-sizing: border-box;
}

html {
  background-color: $color-background;
  color: $color-text;
  font-family: 'kepler-std', 'Georgia', serif;
  font-size: 62.5%;
  font-weight: 300;
}

a:link,
a:visited {
  color: $color-links;
  text-decoration: none;
}

a:hover,
a:active {
  color: $color-links;
  text-decoration: underline;
}

.header {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  margin: 24px auto;
  max-width: $bp-xxl;
  width: 100%;

  @media (min-width: $bp-m) {
    margin: 72px auto;
  }
}

.header__link {
  display: block;
  margin: 0 auto 12px;
  max-width: 320px;
  width: 50vw;

  &:hover,
  &:active {
    path {
      fill: $color-links;
    }
  }

  @media (min-width: $bp-s) {
    width: 33vw;
  }

  @media (min-width: $bp-m) {
    margin: 0 auto;
    padding: 0 20px;
  }

  @media (min-width: $bp-xxl) {
    max-width: 360px;
  }

  @media (min-width: $bp-max) {
    max-width: 420px;
  }
}
