@import 'vendors/reset';
@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'blocks/header';
@import 'blocks/follow';
@import 'blocks/entry_atf';
@import 'blocks/entry_btf';
@import 'blocks/footer';
@import 'blocks/tags';
@import 'blocks/exif';

* {
  box-sizing: border-box;
}

html {
  background-color: $color-background;
  color: $color-text;
  font-family: $font-sans;
  font-size: 62.5%;
  font-weight: 300;
}

a:link,
a:visited {
  color: $color-links;
  text-decoration: none;
}

a:hover,
a:active {
  color: $color-links;
  text-decoration: underline;
}

.amp .header__tagline,
.amp.entry__meta p,
.amp.footer p {
  font-size: 14px;
}
