<div class="media">
  <div class="media-left crop__label">
    <div class="tags has-addons">
      <span class="tag"><%= title %></span>
    </div>
  </div>
  <div class="media-content">
    <%= image_tag url %>
  </div>
</div>
