<% cache [@photoblog, entry] do %>
  <div class="card">
    <%= render partial: 'entry_image', object: entry, as: :entry %>
    <div class="card-content">
      <%= render partial: 'entry_content', object: entry, as: :entry %>
      <hr class="hr">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <%= render partial: 'entry_meta', object: entry, as: :entry %>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <%= render partial: 'entry_actions', object: entry, as: :entry %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
