<div class="field is-grouped is-grouped-multiline">
  <div class="control">
    <div class="tags has-addons">
      <% if entry.is_published? %>
        <span class="tag is-success">Published</span>
        <span class="tag"><%= entry.published_at.strftime('%A, %B %-d, %Y') %></span>
      <% elsif entry.is_queued? %>
        <span class="tag is-info">Queued</span>
        <% if entry.publish_date_for_queued.present? %>
          <span class="tag"><%= entry.publish_date_for_queued.strftime('%A, %B %-d, %Y')%></span>
        <% else %>
          <span class="tag">TBD</span>
        <% end %>
      <% elsif entry.is_draft? %>
        <span class="tag">Draft</span>
      <% end %>
    </div>
  </div>

  <% if entry.show_in_map? && entry.photos.any? { |p| !p.has_location? } %>
    <div class="control">
      <div class="tags has-addons">
        <span class="tag is-warning"><i class="fas fa-exclamation-triangle"></i></span>
        <span class="tag">Location missing</span>
      </div>
    </div>
  <% end %>

  <% if entry.photos.any? { |p| p.alt_text.blank? } %>
    <div class="control">
      <div class="tags has-addons">
        <span class="tag is-warning"><i class="fas fa-exclamation-triangle"></i></span>
        <span class="tag">Alt text missing</span>
      </div>
    </div>
  <% end %>

  <% if entry.photos.any? { |p| p.focal_x.blank? || p.focal_y.blank?  } %>
    <div class="control">
      <div class="tags has-addons">
        <span class="tag is-warning"><i class="fas fa-exclamation-triangle"></i></span>
        <span class="tag">Focal point missing</span>
      </div>
    </div>
  <% end %>
</div>
