<% photo = entry.photos&.first %>
<% if photo.present? && photo.width.present? && photo.height.present? %>
  <div class="card-image">
    <a style="<%= "#{css_aspect_ratio(photo)}#{css_gradient_stops(photo)}"  %>" class="image image-container" href="<%= entry.permalink_url %>">
      <%= responsive_image_tag photo,
            'admin_entry',
            { class: 'is-overlay', alt: photo.alt_text, loading: 'lazy' } %>
    </a>
  </div>
<% end %>

