<% cache entry do %>
  <h1 class="title is-size-5"><%= sanitize(entry.plain_title) %></h1>
  <% if entry.body.present? %>
    <div class="content">
      <%= sanitize(entry.formatted_body) %>
    </div>
  <% end %>
  <% if entry.combined_tags.present? %>
    <div class="tags">
      <% entry.combined_tags.each do |t| %>
        <%= link_to t.name, admin_tagged_entries_path(t.slug), class: 'tag' %>
      <% end %>
    </div>
  <% end %>
<% end %>
