<h3 class="title is-size-5"><%= entry.plain_title %></h3>
<% if entry.body.present? %>
  <div class="content">
    <%= sanitize(entry.formatted_body) %>
  </div>
<% end %>
<% if entry.combined_tags.present? %>
  <div class="tags">
    <% entry.combined_tags.each do |t| %>
      <%= link_to t.name, admin_tagged_entries_path(t.slug), class: 'tag' %>
    <% end %>
  </div>
<% end %>

