<div class="card">
  <div class="card-image">
    <div style="<%= "#{css_aspect_ratio(photo)}#{css_gradient_stops(photo)}"  %>" class="image image-container">
      <%= responsive_image_tag photo,
            'admin_entry',
            { class: 'is-overlay', alt: photo.alt_text, loading: 'lazy', width: photo.width, height: photo.height } %>
    </div>
  </div>
  <div class="card-content">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Size</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% sizes = photo.color? ? @color_print_sizes : @bw_print_sizes %>
        <% best_size = sizes.reject { |size| print_needs_cropping?(photo, size) || print_dpi(photo, size) < 300 }.sort { |size| size.split('×').map(&:to_i).inject(:*) }.first %>
        <%= render partial: 'print_size', collection: sizes, as: :size, locals: { photo: photo, best_size: best_size } %>
      </tbody>
    </table>
    <hr class="hr">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <%= link_to 'Download image', photo.image.service_url, class: 'button', target: '_blank' %>
        </div>
      </div>
      <div class="level-right">
      </div>
    </div>
  </div>
</div>
