<div class="card queue__item draggable-handle" data-target="queue.card" data-entry-id="<%= entry.id %>" data-entry-position-original="<%= entry.position %>">
  <div class="card-image">
    <% if entry.is_photo? %>
    <% photo = entry.photos.first %>
    <div style="<%= css_gradient_stops(photo) %>" class="image image-container">
      <%= responsive_image_tag(
        photo: photo,
        srcset: @srcset,
        sizes: @sizes,
        square: true,
        html_options: {
          loading: 'lazy'
        }) %>
    </div>
    <% else %>
      <div style="padding-top:100%;background-color:#EEE;"><div>
    <% end %>
    <div class="queue__item-meta">
      <span class="is-size-7 has-text-light queue__item-timestamp" data-timestamp></span>
    </div>
  </div>
</div>
