<div class="card queue__item draggable-handle" data-target="queue.card" data-entry-id="<%= entry.id %>" data-entry-position-original="<%= entry.position %>">
  <div class="card-image">
    <% if entry.is_photo? %>
    <% photo = entry.photos.first %>
    <div style="<%= "#{gradient_css_props(photo)}"  %>" class="image image-container">
      <%= lazy_responsive_image_tag photo,
            'admin_queue',
            { class: 'is-overlay', alt: photo.alt_text, 'data-controller': 'lazy-load' } %>
    </div>
    <% else %>
      <div style="padding-top:100%;background-color:#EEE;"><div>
    <% end %>
    <div class="queue__item-meta">
      <span class="is-size-7 has-text-light queue__item-timestamp" data-timestamp></span>
    </div>
  </div>
</div>
