<datalist id="datalist-tags">
  <% tags.each do |t| %>
    <option><%= t.name %></option>
  <% end %>
</datalist>
<datalist id="datalist-cameras">
  <% cameras.each do |t| %>
    <option><%= t.name %></option>
  <% end %>
</datalist>
<datalist id="datalist-lenses">
  <% lenses.each do |t| %>
    <option><%= t.name %></option>
  <% end %>
</datalist>
<datalist id="datalist-films">
  <% films.each do |t| %>
    <option><%= t.name %></option>
  <% end %>
</datalist>
