<ol class="entry-list">
  <%= render partial: 'entry', object: @entry %>
  <li class="entry">
    <div class="entry__content entry__content--misc">
      <h2>Are you sure you want to delete this entry?</h2>
      <div class="entry__content-buttons">
        <%= button_to 'Yes, delete it forever!', admin_entry_path(@entry.id), method: :delete, data: { confirm: 'Are you absolutely sure you want to delete it? This can’t be undone!' }, class: 'button button--danger' %>
      </div>
    </div>
  </li>
</ol>
