<% if @entries.size == 0 %>
  <p class="content__message">You don’t have any drafts. Why don’t you <a href="<%= new_admin_entry_path %>">write one</a>?</p>
<% else %>
  <%= render partial: 'entry', collection: @entries %>
  <%= paginate @entries, views_prefix: 'admin'  %>
<% end %>
