<% if @entries.size == 0 %>
  <article class="message is-info">
    <div class="message-body">
      You don’t have any drafts. Why don’t you <a href="<%= new_admin_entry_path %>">write one</a>?
    </div>
  </article>
<% else %>
  <%= render partial: 'entry', collection: @entries %>
  <%= paginate @entries, views_prefix: 'admin', outer_window: 1 %>
<% end %>
