<% content_for :nav do %>
  <%= render partial: 'partials/admin/nav', locals: { active_nav: 'drafts' } %>
<% end %>

<% if @entries.size == 0 %>
  <p class="admin-content__message">You don’t have any drafts. Why don’t you <a href="<%= new_admin_entry_path %>">write one</a>?</p>
<% else %>
  <ol class="admin-entry-list">
    <%= render partial: 'entry', collection: @entries %>
  </ol>
<% end %>
