<div class="entry">
  <% @entry.photos.each do |photo| %>
    <%= image_tag photo.url(w: 1200, fm: 'jpg') %>
  <% end %>
  <div class="entry__meta">
    <form class="form form--no-padding">
      <textarea id="ello" class="form__input form__input--textarea" readonly="readonly"><%= @text %></textarea>
      <button class="button button--no-margin js-clipboard" data-clipboard-target="#ello">Copy to clipboard</button>
    </form>
  </div>
</div>
