<% content_for :nav do %>
  <%= render partial: 'partials/admin/nav', locals: { active_nav: 'imported' } %>
<% end %>

<% cache "#{@cache_version}/admin/entries/imported/#{@page}/#{@photoblog.id}/#{@photoblog.updated_at.to_i}" do %>
  <% if @entries.size == 0 %>
    <p class="content__message">You haven’t imported any entries.</p>
  <% else %>
    <ol class="entry__list">
      <%= render partial: 'entry', collection: @entries %>
    </ol>
    <%= paginate @entries %>
  <% end %>
<% end %>
