<% content_for :nav do %>
  <%= render partial: 'partials/admin/nav', locals: { active_nav: 'published' } %>
<% end %>

<% if @entries.size == 0 %>
  <p class="admin-content__message">You haven’t published any entries. Why don’t you <a href="<%= new_admin_entry_path %>">write one</a>?</p>
<% else %>
  <ol class="admin-entry__list">
    <%= render partial: 'entry', collection: @entries %>
  </ol>
<% end %>
