<% if @query.present? %>
  <% if @entries.size == 0 %>
    <article class="message is-info">
      <div class="message-body">
        No results found for “<%= @query %>”.
      </div>
    </article>
  <% else %>
    <%= render partial: 'entry', collection: @entries %>
    <%= paginate @entries, views_prefix: 'admin', outer_window: 1 %>
  <% end %>
<% end %>
