<% cache entry do %>
  <li class="entry-list__item">
    <div class="entry-list__wrapper" style="<%= css_aspect_ratio(entry.photos.first) %>">
      <%= render partial: 'entries/list/entry_link', object: entry, as: :entry %>
    </div>
  </li>
<% end %>
