<% cache entry do %>
  <li class="entry-list__item">
    <div class="entry-list__wrapper">
      <%= render partial: 'entries/list/entry_link', object: entry, as: :entry, locals: { square: true } %>
    </div>
  </li>
<% end %>
