<% content_for :meta do %>
  <title>Offline &middot; <%= @photoblog.name %></title>
<% end %>

<article class="entry entry--text">
  <div class="entry__body">
    <h1 class="entry__headline">Uh oh, looks like you’re currently offline.</h1>
    <p>Unfortunately, this site isn’t available offline yet. Please check your internet connection, or come back later. You can also <%= link_to "read more about <i>#{@photoblog.name}</i>".html_safe, about_path %>. Come back soon!</p>
  </div>
</article>
